In [1]:
from pyspark.sql import HiveContext
sqlContext = HiveContext(sc)

In [2]:
sqlContext.sql("show tables").show()

+-----------------+-----------+
|        tableName|isTemporary|
+-----------------+-----------+
|    complications|      false|
|   effective_care|      false|
|              foo|      false|
|        hospitals|      false|
|  hospital_survey|      false|
|       infections|      false|
|         measures|      false|
|     my_hospitals|      false|
|     readmissions|      false|
|         stadiums|      false|
|surveys_responses|      false|
|        user_info|      false|
|     weblogs_flat|      false|
|  weblogs_parquet|      false|
|   weblogs_schema|      false|
|  web_session_log|      false|
+-----------------+-----------+

In [3]:
sqlContext.sql("drop table my_hospitals").show()

++
||
++
++

In [67]:
sqlContext.sql("show tables").show()

+-----------------+-----------+
|        tableName|isTemporary|
+-----------------+-----------+
|    complications|      false|
|   effective_care|      false|
|              foo|      false|
|        hospitals|      false|
|  hospital_survey|      false|
|       infections|      false|
|         measures|      false|
|          my_care|      false|
| my_complications|      false|
|     my_hospitals|      false|
|    my_infections|      false|
|  my_readmissions|      false|
|  my_star_ratings|      false|
| my_survey_scores|      false|
|     readmissions|      false|
|         stadiums|      false|
|surveys_responses|      false|
|        user_info|      false|
|     weblogs_flat|      false|
|  weblogs_parquet|      false|
+-----------------+-----------+
only showing top 20 rows

In [62]:
sqlContext.sql("DROP TABLE my_hospitals")

sql = """
CREATE TABLE my_hospitals AS 
SELECT 
provider_id, hospital_name name, city, state, 
zip_code, hospital_type type, hospital_ownership ownership 
FROM hospitals
"""
sqlContext.sql(sql)

DataFrame[]

In [6]:
sqlContext.sql("show tables").show()

+-----------------+-----------+
|        tableName|isTemporary|
+-----------------+-----------+
|    complications|      false|
|   effective_care|      false|
|              foo|      false|
|        hospitals|      false|
|  hospital_survey|      false|
|       infections|      false|
|         measures|      false|
|     my_hospitals|      false|
|     readmissions|      false|
|         stadiums|      false|
|surveys_responses|      false|
|        user_info|      false|
|     weblogs_flat|      false|
|  weblogs_parquet|      false|
|   weblogs_schema|      false|
|  web_session_log|      false|
+-----------------+-----------+

In [8]:
sqlContext.sql("describe hospital_survey").show()

+--------------------+---------+-----------------+
|            col_name|data_type|          comment|
+--------------------+---------+-----------------+
|         provider_id|   string|from deserializer|
|       hospital_name|   string|from deserializer|
|             address|   string|from deserializer|
|                city|   string|from deserializer|
|               state|   string|from deserializer|
|            zip_code|   string|from deserializer|
|         county_name|   string|from deserializer|
|        phone_number|   string|from deserializer|
|   hcahps_measure_id|   string|from deserializer|
|     hcahps_question|   string|from deserializer|
|hcahps_answer_des...|   string|from deserializer|
|patient_survey_st...|   string|from deserializer|
|patient_survey_st...|   string|from deserializer|
|hcahps_answer_per...|   string|from deserializer|
|hcahps_answer_per...|   string|from deserializer|
|number_of_complet...|   string|from deserializer|
|number_of_complet...|   string|from deserializer|
|survey_response_r...|   string|from deserializer|
|survey_response_r...|   string|from deserializer|
|  measure_start_date|   string|from deserializer|
+--------------------+---------+-----------------+
only showing top 20 rows

In [63]:
sql = """DROP TABLE my_star_ratings"""
sqlContext.sql(sql)

# create new table
sql = """
CREATE TABLE my_star_ratings AS 
SELECT 
provider_id, hcahps_measure_id measure_id, 
hcahps_question question, hcahps_answer_description answer,
cast(patient_survey_star_rating AS INT) star_rating,
cast(to_date(from_unixtime(unix_timestamp(measure_start_date, 'MM/dd/yy'))) as date) measure_start,
cast(to_date(from_unixtime(unix_timestamp(measure_end_date, 'MM/dd/yy'))) as date) measure_end
FROM hospital_survey
"""
sqlContext.sql(sql)

DataFrame[]

In [65]:
sqlContext.sql('describe my_star_ratings').show()

+-------------+---------+-------+
|     col_name|data_type|comment|
+-------------+---------+-------+
|  provider_id|   string|   null|
|   measure_id|   string|   null|
|     question|   string|   null|
|       answer|   string|   null|
|  star_rating|      int|   null|
|measure_start|     date|   null|
|  measure_end|     date|   null|
+-------------+---------+-------+

In [66]:
sqlContext.sql('select * from my_star_ratings limit 10').show()

+-----------+--------------------+--------------------+--------------------+-----------+-------------+-----------+
|provider_id|          measure_id|            question|              answer|star_rating|measure_start|measure_end|
+-----------+--------------------+--------------------+--------------------+-----------+-------------+-----------+
|     010001|       H_STAR_RATING| Summary star rating| Summary star rating|          3|   2013-10-01| 2014-09-30|
|     010001|     H_CLEAN_HSP_A_P|Patients who repo...|Room was "always"...|       null|   2013-10-01| 2014-09-30|
|     010001|    H_CLEAN_HSP_SN_P|Patients who repo...|Room was "sometim...|       null|   2013-10-01| 2014-09-30|
|     010001|     H_CLEAN_HSP_U_P|Patients who repo...|Room was "usually...|       null|   2013-10-01| 2014-09-30|
|     010001| H_CLEAN_STAR_RATING|Cleanliness - sta...|Cleanliness - sta...|          2|   2013-10-01| 2014-09-30|
|     010001|        H_COMP_1_A_P|Patients who repo...|Nurses "always" c...|       null|   2013-10-01| 2014-09-30|
|     010001|       H_COMP_1_SN_P|Patients who repo...|Nurses "sometimes...|       null|   2013-10-01| 2014-09-30|
|     010001|H_COMP_1_STAR_RATING|Nurse communicati...|Nurse communicati...|          3|   2013-10-01| 2014-09-30|
|     010001|        H_COMP_1_U_P|Patients who repo...|Nurses "usually" ...|       null|   2013-10-01| 2014-09-30|
|     010001|        H_COMP_2_A_P|Patients who repo...|Doctors "always" ...|       null|   2013-10-01| 2014-09-30|
+-----------+--------------------+--------------------+--------------------+-----------+-------------+-----------+

In [14]:
sql = """
CREATE TABLE my_survey_scores AS 
SELECT 
provider_number provider_id, 
cast(hcahps_base_score as INT) base_score,
cast(hcahps_consistency_score as INT) consistency_score,
cast(hcahps_base_score as INT) + cast(hcahps_consistency_score as INT) total_score
FROM surveys_responses
"""
sqlContext.sql(sql)

++
||
++
++

In [15]:
sqlContext.sql("select * from my_survey_scores limit 10").show()

+-----------+----------+-----------------+-----------+
|provider_id|base_score|consistency_score|total_score|
+-----------+----------+-----------------+-----------+
|     010001|        17|               16|         33|
|     010005|        51|               20|         71|
|     010006|         9|               12|         21|
|     010007|        40|               17|         57|
|     010008|        30|               15|         45|
|     010011|        11|               16|         27|
|     010012|        31|               20|         51|
|     010016|        10|               15|         25|
|     010019|        24|               20|         44|
|     010021|        34|               19|         53|
+-----------+----------+-----------------+-----------+

In [17]:
sqlContext.sql("describe my_survey_scores").show()

+-----------------+---------+-------+
|         col_name|data_type|comment|
+-----------------+---------+-------+
|      provider_id|   string|   null|
|       base_score|      int|   null|
|consistency_score|      int|   null|
|      total_score|      int|   null|
+-----------------+---------+-------+

In [35]:
sql = """
DROP TABLE my_care
"""
sqlContext.sql(sql)


sql = """
CREATE TABLE my_care AS 
SELECT 
provider_id, condition, measure_id,
measure_name,
cast(score as INT) score,
cast(to_date(from_unixtime(unix_timestamp(measure_start_date, 'MM/dd/yy'))) as date) measure_start,
cast(to_date(from_unixtime(unix_timestamp(measure_end_date, 'MM/dd/yy'))) as date) measure_end
FROM effective_care
"""
sqlContext.sql(sql)

DataFrame[]

In [36]:
sqlContext.sql("describe my_care").show()

+-------------+---------+-------+
|     col_name|data_type|comment|
+-------------+---------+-------+
|  provider_id|   string|   null|
|    condition|   string|   null|
|   measure_id|   string|   null|
| measure_name|   string|   null|
|        score|      int|   null|
|measure_start|     date|   null|
|  measure_end|     date|   null|
+-------------+---------+-------+

In [37]:
sqlContext.sql("select * from my_care").show()

+-----------+--------------------+----------------+--------------------+-----+-------------+-----------+
|provider_id|           condition|      measure_id|        measure_name|score|measure_start|measure_end|
+-----------+--------------------+----------------+--------------------+-----+-------------+-----------+
|     010001|Heart Attack or C...|          AMI_10| Statin at Discharge|   98|   2013-10-01| 2014-09-30|
|     010001|Heart Attack or C...|           AMI_2|Aspirin prescribe...|   99|   2013-10-01| 2014-09-30|
|     010001|Heart Attack or C...|          AMI_7a|Fibrinolytic Ther...| null|   2013-10-01| 2014-09-30|
|     010001|Heart Attack or C...|          AMI_8a|Primary PCI Recei...|   91|   2013-10-01| 2014-09-30|
|     010001|Emergency Department|           ED_1b|                 ED1|  286|   2013-10-01| 2014-09-30|
|     010001|Emergency Department|           ED_2b|                 ED2|   71|   2013-10-01| 2014-09-30|
|     010001|Emergency Department|             EDV|Emergency departm...| null|   2013-01-01| 2013-12-31|
|     010001|       Heart Failure|            HF_1|Discharge instruc...|   91|   2013-10-01| 2014-09-30|
|     010001|       Heart Failure|            HF_2|Evaluation of LVS...|  100|   2013-10-01| 2014-09-30|
|     010001|       Heart Failure|            HF_3|ACEI or ARB for LVSD|   98|   2013-10-01| 2014-09-30|
|     010001|     Preventive Care|           IMM_2|Immunization for ...|   94|   2013-10-01| 2014-03-31|
|     010001|     Preventive Care|IMM_3_FAC_ADHPCT|Healthcare worker...|   56|   2013-10-01| 2014-03-31|
|     010001|Heart Attack or C...|            OP_1|Median Time to Fi...| null|   2013-10-01| 2014-09-30|
|     010001|Emergency Department|          OP_18b|               OP 18|  190|   2013-10-01| 2014-09-30|
|     010001|Heart Attack or C...|            OP_2|Fibrinolytic Ther...| null|   2013-10-01| 2014-09-30|
|     010001|Emergency Department|           OP_20|Door to diagnosti...|   53|   2013-10-01| 2014-09-30|
|     010001|Emergency Department|           OP_21|Median time to pa...|   72|   2013-10-01| 2014-09-30|
|     010001|Emergency Department|           OP_22|Left before being...|    4|   2013-01-01| 2013-12-31|
|     010001|Emergency Department|           OP_23|     Head CT results| null|   2013-10-01| 2014-09-30|
|     010001|Heart Attack or C...|           OP_3b|Median Time to Tr...| null|   2013-10-01| 2014-09-30|
+-----------+--------------------+----------------+--------------------+-----+-------------+-----------+
only showing top 20 rows

In [47]:
sql = """
DROP TABLE my_infections
"""
sqlContext.sql(sql)


sql = """
CREATE TABLE my_infections AS 
SELECT 
provider_id, measure_id,
measure_name, compared_to_national,
cast(score as DECIMAL(16,4)) score,
cast(to_date(from_unixtime(unix_timestamp(measure_start_date, 'MM/dd/yy'))) as date) measure_start,
cast(to_date(from_unixtime(unix_timestamp(measure_end_date, 'MM/dd/yy'))) as date) measure_end
FROM infections
"""
sqlContext.sql(sql)

DataFrame[]

In [48]:
sqlContext.sql("describe my_infections").show()

+--------------------+-------------+-------+
|            col_name|    data_type|comment|
+--------------------+-------------+-------+
|         provider_id|       string|   null|
|          measure_id|       string|   null|
|        measure_name|       string|   null|
|compared_to_national|       string|   null|
|               score|decimal(16,4)|   null|
|       measure_start|         date|   null|
|         measure_end|         date|   null|
+--------------------+-------------+-------+

In [53]:
sqlContext.sql("select * from my_infections").show()

+-----------+---------------+--------------------+--------------------+---------+-------------+-----------+
|provider_id|     measure_id|        measure_name|compared_to_national|    score|measure_start|measure_end|
+-----------+---------------+--------------------+--------------------+---------+-------------+-----------+
|     010001| HAI_1_CI_LOWER|CLABSI Lower Conf...|No Different than...|   0.7370|   2013-10-01| 2014-09-30|
|     010001| HAI_1_CI_UPPER|CLABSI Upper Conf...|No Different than...|   3.7820|   2013-10-01| 2014-09-30|
|     010001|HAI_1_DOPC_DAYS|CLABSI Central Li...|No Different than...|2199.0000|   2013-10-01| 2014-09-30|
|     010001|HAI_1_ELIGCASES|CLABSI Predicted ...|No Different than...|   3.3000|   2013-10-01| 2014-09-30|
|     010001|HAI_1_NUMERATOR|CLABSI Observed C...|No Different than...|   6.0000|   2013-10-01| 2014-09-30|
|     010001|      HAI_1_SIR|Central line-asso...|No Different than...|   1.8180|   2013-10-01| 2014-09-30|
|     010001| HAI_2_CI_LOWER|CAUTI Lower Confi...|Worse than the Na...|   2.3950|   2013-10-01| 2014-09-30|
|     010001| HAI_2_CI_UPPER|CAUTI Upper Confi...|Worse than the Na...|   4.8570|   2013-10-01| 2014-09-30|
|     010001|HAI_2_DOPC_DAYS|CAUTI Urinary Cat...|Worse than the Na...|7450.0000|   2013-10-01| 2014-09-30|
|     010001|HAI_2_ELIGCASES|CAUTI Predicted C...|Worse than the Na...|   8.9490|   2013-10-01| 2014-09-30|
|     010001|HAI_2_NUMERATOR|CAUTI Observed Cases|Worse than the Na...|  31.0000|   2013-10-01| 2014-09-30|
|     010001|      HAI_2_SIR|Catheter-Associat...|Worse than the Na...|   3.4640|   2013-10-01| 2014-09-30|
|     010001| HAI_3_CI_LOWER|SSI: Colon Lower ...|No Different than...|   0.2170|   2013-10-01| 2014-09-30|
|     010001| HAI_3_CI_UPPER|SSI: Colon Upper ...|No Different than...|   1.6440|   2013-10-01| 2014-09-30|
|     010001|HAI_3_DOPC_DAYS|SSI: Colon, Numbe...|No Different than...| 171.0000|   2013-10-01| 2014-09-30|
|     010001|HAI_3_ELIGCASES|SSI: Colon Predic...|No Different than...|   5.8680|   2013-10-01| 2014-09-30|
|     010001|HAI_3_NUMERATOR|SSI: Colon Observ...|No Different than...|   4.0000|   2013-10-01| 2014-09-30|
|     010001|      HAI_3_SIR|Surgical Site Inf...|No Different than...|   0.6820|   2013-10-01| 2014-09-30|
|     010001| HAI_4_CI_LOWER|SSI: Abdominal Lo...|       Not Available|     null|   2013-10-01| 2014-09-30|
|     010001| HAI_4_CI_UPPER|SSI: Abdominal Up...|       Not Available|     null|   2013-10-01| 2014-09-30|
+-----------+---------------+--------------------+--------------------+---------+-------------+-----------+
only showing top 20 rows

In [54]:
sql = """
DROP TABLE my_readmissions
"""
sqlContext.sql(sql)


sql = """
CREATE TABLE my_readmissions AS 
SELECT 
provider_id, measure_id,
measure_name, compared_to_national,
cast(score as DECIMAL(16,4)) score,
cast(to_date(from_unixtime(unix_timestamp(measure_start_date, 'MM/dd/yy'))) as date) measure_start,
cast(to_date(from_unixtime(unix_timestamp(measure_end_date, 'MM/dd/yy'))) as date) measure_end
FROM readmissions
"""
sqlContext.sql(sql)

DataFrame[]

In [55]:
sqlContext.sql("describe my_readmissions").show()

+--------------------+-------------+-------+
|            col_name|    data_type|comment|
+--------------------+-------------+-------+
|         provider_id|       string|   null|
|          measure_id|       string|   null|
|        measure_name|       string|   null|
|compared_to_national|       string|   null|
|               score|decimal(16,4)|   null|
|       measure_start|         date|   null|
|         measure_end|         date|   null|
+--------------------+-------------+-------+

In [56]:
sqlContext.sql("select * from my_readmissions").show()

+-----------+------------------+--------------------+--------------------+-------+-------------+-----------+
|provider_id|        measure_id|        measure_name|compared_to_national|  score|measure_start|measure_end|
+-----------+------------------+--------------------+--------------------+-------+-------------+-----------+
|     010001|       MORT_30_AMI|Acute Myocardial ...|No different than...|12.2000|   2011-07-01| 2014-06-30|
|     010001|      MORT_30_CABG| Death rate for CABG|No different than...| 3.7000|   2011-07-01| 2014-06-30|
|     010001|      MORT_30_COPD|Death rate for ch...|No different than...| 8.8000|   2011-07-01| 2014-06-30|
|     010001|        MORT_30_HF|Heart failure (HF...|No different than...|12.6000|   2011-07-01| 2014-06-30|
|     010001|        MORT_30_PN|Pneumonia (PN) 30...|No different than...|11.6000|   2011-07-01| 2014-06-30|
|     010001|       MORT_30_STK|Death rate for st...|No different than...|15.3000|   2011-07-01| 2014-06-30|
|     010001|      READM_30_AMI|Acute Myocardial ...|No different than...|17.4000|   2011-07-01| 2014-06-30|
|     010001|     READM_30_CABG|Rate of unplanned...|No different than...|15.9000|   2011-07-01| 2014-06-30|
|     010001|     READM_30_COPD|Rate of unplanned...|No different than...|22.0000|   2011-07-01| 2014-06-30|
|     010001|       READM_30_HF|Heart failure (HF...|No different than...|21.0000|   2011-07-01| 2014-06-30|
|     010001| READM_30_HIP_KNEE|Rate of readmissi...|No different than...| 5.2000|   2011-07-01| 2014-06-30|
|     010001|READM_30_HOSP_WIDE|Rate of readmissi...|No different than...|14.8000|   2013-07-01| 2014-06-30|
|     010001|       READM_30_PN|Pneumonia (PN) 30...|No different than...|18.2000|   2011-07-01| 2014-06-30|
|     010001|      READM_30_STK|Rate of unplanned...|No different than...|13.0000|   2011-07-01| 2014-06-30|
|     010005|       MORT_30_AMI|Acute Myocardial ...|No different than...|16.9000|   2011-07-01| 2014-06-30|
|     010005|      MORT_30_CABG| Death rate for CABG|       Not Available|   null|   2011-07-01| 2014-06-30|
|     010005|      MORT_30_COPD|Death rate for ch...|No different than...| 7.5000|   2011-07-01| 2014-06-30|
|     010005|        MORT_30_HF|Heart failure (HF...|Worse than the Na...|16.3000|   2011-07-01| 2014-06-30|
|     010005|        MORT_30_PN|Pneumonia (PN) 30...|Worse than the Na...|13.9000|   2011-07-01| 2014-06-30|
|     010005|       MORT_30_STK|Death rate for st...|No different than...|14.8000|   2011-07-01| 2014-06-30|
+-----------+------------------+--------------------+--------------------+-------+-------------+-----------+
only showing top 20 rows

In [57]:
sql = """
DROP TABLE my_complications
"""
sqlContext.sql(sql)


sql = """
CREATE TABLE my_complications AS 
SELECT 
provider_id, measure_id,
measure_name, compared_to_national,
cast(score as DECIMAL(16,4)) score,
cast(to_date(from_unixtime(unix_timestamp(measure_start_date, 'MM/dd/yy'))) as date) measure_start,
cast(to_date(from_unixtime(unix_timestamp(measure_end_date, 'MM/dd/yy'))) as date) measure_end
FROM complications
"""
sqlContext.sql(sql)

DataFrame[]

In [59]:
sqlContext.sql("describe my_complications").show()

+--------------------+-------------+-------+
|            col_name|    data_type|comment|
+--------------------+-------------+-------+
|         provider_id|       string|   null|
|          measure_id|       string|   null|
|        measure_name|       string|   null|
|compared_to_national|       string|   null|
|               score|decimal(16,4)|   null|
|       measure_start|         date|   null|
|         measure_end|         date|   null|
+--------------------+-------------+-------+

In [60]:
sqlContext.sql("select * from my_complications").show()

+-----------+--------------------+--------------------+--------------------+--------+-------------+-----------+
|provider_id|          measure_id|        measure_name|compared_to_national|   score|measure_start|measure_end|
+-----------+--------------------+--------------------+--------------------+--------+-------------+-----------+
|     010001|       COMP_HIP_KNEE|Rate of complicat...|No different than...|  3.9000|   2011-04-01| 2014-03-31|
|     010001|PSI_12_POSTOP_PUL...|Serious blood clo...|Better than the N...|  2.1600|   2012-07-01| 2014-06-30|
|     010001| PSI_14_POSTOP_DEHIS|A wound that spli...|No different than...|  1.6700|   2012-07-01| 2014-06-30|
|     010001|      PSI_15_ACC_LAC|Accidental cuts a...|No different than...|  1.5200|   2012-07-01| 2014-06-30|
|     010001|     PSI_4_SURG_COMP|Deaths among Pati...|No different than...|138.3000|   2012-07-01| 2014-06-30|
|     010001|       PSI_6_IAT_PTX|Collapsed lung du...|No different than...|  0.3100|   2012-07-01| 2014-06-30|
|     010001|       PSI_90_SAFETY|Serious complicat...|Better than the N...|  0.5700|   2012-07-01| 2014-06-30|
|     010005|       COMP_HIP_KNEE|Rate of complicat...|No different than...|  2.8000|   2011-04-01| 2014-03-31|
|     010005|PSI_12_POSTOP_PUL...|Serious blood clo...|No different than...|  3.7000|   2012-07-01| 2014-06-30|
|     010005| PSI_14_POSTOP_DEHIS|A wound that spli...|No different than...|  2.4200|   2012-07-01| 2014-06-30|
|     010005|      PSI_15_ACC_LAC|Accidental cuts a...|No different than...|  1.3500|   2012-07-01| 2014-06-30|
|     010005|     PSI_4_SURG_COMP|Deaths among Pati...|No different than...|141.4200|   2012-07-01| 2014-06-30|
|     010005|       PSI_6_IAT_PTX|Collapsed lung du...|No different than...|  0.3800|   2012-07-01| 2014-06-30|
|     010005|       PSI_90_SAFETY|Serious complicat...|No different than...|  0.6800|   2012-07-01| 2014-06-30|
|     010006|       COMP_HIP_KNEE|Rate of complicat...|No different than...|  3.0000|   2011-04-01| 2014-03-31|
|     010006|PSI_12_POSTOP_PUL...|Serious blood clo...|No different than...|  3.0600|   2012-07-01| 2014-06-30|
|     010006| PSI_14_POSTOP_DEHIS|A wound that spli...|No different than...|  1.4100|   2012-07-01| 2014-06-30|
|     010006|      PSI_15_ACC_LAC|Accidental cuts a...|No different than...|  2.0700|   2012-07-01| 2014-06-30|
|     010006|     PSI_4_SURG_COMP|Deaths among Pati...|Worse than the Na...|168.4200|   2012-07-01| 2014-06-30|
|     010006|       PSI_6_IAT_PTX|Collapsed lung du...|No different than...|  0.3600|   2012-07-01| 2014-06-30|
+-----------+--------------------+--------------------+--------------------+--------+-------------+-----------+
only showing top 20 rows

In [61]:
sqlContext.sql("show tables").show()

+-----------------+-----------+
|        tableName|isTemporary|
+-----------------+-----------+
|    complications|      false|
|   effective_care|      false|
|              foo|      false|
|        hospitals|      false|
|  hospital_survey|      false|
|       infections|      false|
|         measures|      false|
|          my_care|      false|
| my_complications|      false|
|     my_hospitals|      false|
|    my_infections|      false|
|  my_readmissions|      false|
|   my_star_rating|      false|
| my_survey_scores|      false|
|     readmissions|      false|
|         stadiums|      false|
|surveys_responses|      false|
|        user_info|      false|
|     weblogs_flat|      false|
|  weblogs_parquet|      false|
+-----------------+-----------+
only showing top 20 rows