In [1]:
from pyspark.sql import HiveContext
sqlContext = HiveContext(sc)

In [2]:
sqlContext.sql("show tables").show()

+-----------------+-----------+
|        tableName|isTemporary|
+-----------------+-----------+
|     bike_seasons|      false|
|   bike_share_raw|      false|
|    complications|      false|
|   effective_care|      false|
|              foo|      false|
|        hospitals|      false|
|  hospital_survey|      false|
|       infections|      false|
|         measures|      false|
|          my_care|      false|
| my_complications|      false|
|     my_hospitals|      false|
|    my_infections|      false|
|  my_readmissions|      false|
|  my_star_ratings|      false|
| my_survey_scores|      false|
|     readmissions|      false|
|          seasons|      false|
|         stadiums|      false|
|surveys_responses|      false|
+-----------------+-----------+
only showing top 20 rows

In [3]:
sqlContext.sql("drop table my_hospitals").show()

++
||
++
++

In [67]:
sqlContext.sql("show tables").show()

+-----------------+-----------+
|        tableName|isTemporary|
+-----------------+-----------+
|    complications|      false|
|   effective_care|      false|
|              foo|      false|
|        hospitals|      false|
|  hospital_survey|      false|
|       infections|      false|
|         measures|      false|
|          my_care|      false|
| my_complications|      false|
|     my_hospitals|      false|
|    my_infections|      false|
|  my_readmissions|      false|
|  my_star_ratings|      false|
| my_survey_scores|      false|
|     readmissions|      false|
|         stadiums|      false|
|surveys_responses|      false|
|        user_info|      false|
|     weblogs_flat|      false|
|  weblogs_parquet|      false|
+-----------------+-----------+
only showing top 20 rows

In [62]:
sqlContext.sql("DROP TABLE my_hospitals")

sql = """
CREATE TABLE my_hospitals AS 
SELECT 
provider_id, hospital_name name, city, state, 
zip_code, hospital_type type, hospital_ownership ownership 
FROM hospitals
"""
sqlContext.sql(sql)

DataFrame[]

In [6]:
sqlContext.sql("show tables").show()

+-----------------+-----------+
|        tableName|isTemporary|
+-----------------+-----------+
|    complications|      false|
|   effective_care|      false|
|              foo|      false|
|        hospitals|      false|
|  hospital_survey|      false|
|       infections|      false|
|         measures|      false|
|     my_hospitals|      false|
|     readmissions|      false|
|         stadiums|      false|
|surveys_responses|      false|
|        user_info|      false|
|     weblogs_flat|      false|
|  weblogs_parquet|      false|
|   weblogs_schema|      false|
|  web_session_log|      false|
+-----------------+-----------+

In [8]:
sqlContext.sql("describe hospital_survey").show()

+--------------------+---------+-----------------+
|            col_name|data_type|          comment|
+--------------------+---------+-----------------+
|         provider_id|   string|from deserializer|
|       hospital_name|   string|from deserializer|
|             address|   string|from deserializer|
|                city|   string|from deserializer|
|               state|   string|from deserializer|
|            zip_code|   string|from deserializer|
|         county_name|   string|from deserializer|
|        phone_number|   string|from deserializer|
|   hcahps_measure_id|   string|from deserializer|
|     hcahps_question|   string|from deserializer|
|hcahps_answer_des...|   string|from deserializer|
|patient_survey_st...|   string|from deserializer|
|patient_survey_st...|   string|from deserializer|
|hcahps_answer_per...|   string|from deserializer|
|hcahps_answer_per...|   string|from deserializer|
|number_of_complet...|   string|from deserializer|
|number_of_complet...|   string|from deserializer|
|survey_response_r...|   string|from deserializer|
|survey_response_r...|   string|from deserializer|
|  measure_start_date|   string|from deserializer|
+--------------------+---------+-----------------+
only showing top 20 rows

In [63]:
sql = """DROP TABLE my_star_ratings"""
sqlContext.sql(sql)

# create new table
sql = """
CREATE TABLE my_star_ratings AS 
SELECT 
provider_id, hcahps_measure_id measure_id, 
hcahps_question question, hcahps_answer_description answer,
cast(patient_survey_star_rating AS INT) star_rating,
cast(to_date(from_unixtime(unix_timestamp(measure_start_date, 'MM/dd/yy'))) as date) measure_start,
cast(to_date(from_unixtime(unix_timestamp(measure_end_date, 'MM/dd/yy'))) as date) measure_end
FROM hospital_survey
"""
sqlContext.sql(sql)

DataFrame[]

In [65]:
sqlContext.sql('describe my_star_ratings').show()

+-------------+---------+-------+
|     col_name|data_type|comment|
+-------------+---------+-------+
|  provider_id|   string|   null|
|   measure_id|   string|   null|
|     question|   string|   null|
|       answer|   string|   null|
|  star_rating|      int|   null|
|measure_start|     date|   null|
|  measure_end|     date|   null|
+-------------+---------+-------+

In [66]:
sqlContext.sql('select * from my_star_ratings limit 10').show()

+-----------+--------------------+--------------------+--------------------+-----------+-------------+-----------+
|provider_id|          measure_id|            question|              answer|star_rating|measure_start|measure_end|
+-----------+--------------------+--------------------+--------------------+-----------+-------------+-----------+
|     010001|       H_STAR_RATING| Summary star rating| Summary star rating|          3|   2013-10-01| 2014-09-30|
|     010001|     H_CLEAN_HSP_A_P|Patients who repo...|Room was "always"...|       null|   2013-10-01| 2014-09-30|
|     010001|    H_CLEAN_HSP_SN_P|Patients who repo...|Room was "sometim...|       null|   2013-10-01| 2014-09-30|
|     010001|     H_CLEAN_HSP_U_P|Patients who repo...|Room was "usually...|       null|   2013-10-01| 2014-09-30|
|     010001| H_CLEAN_STAR_RATING|Cleanliness - sta...|Cleanliness - sta...|          2|   2013-10-01| 2014-09-30|
|     010001|        H_COMP_1_A_P|Patients who repo...|Nurses "always" c...|       null|   2013-10-01| 2014-09-30|
|     010001|       H_COMP_1_SN_P|Patients who repo...|Nurses "sometimes...|       null|   2013-10-01| 2014-09-30|
|     010001|H_COMP_1_STAR_RATING|Nurse communicati...|Nurse communicati...|          3|   2013-10-01| 2014-09-30|
|     010001|        H_COMP_1_U_P|Patients who repo...|Nurses "usually" ...|       null|   2013-10-01| 2014-09-30|
|     010001|        H_COMP_2_A_P|Patients who repo...|Doctors "always" ...|       null|   2013-10-01| 2014-09-30|
+-----------+--------------------+--------------------+--------------------+-----------+-------------+-----------+

In [14]:
sql = """
CREATE TABLE my_survey_scores AS 
SELECT 
provider_number provider_id, 
cast(hcahps_base_score as INT) base_score,
cast(hcahps_consistency_score as INT) consistency_score,
cast(hcahps_base_score as INT) + cast(hcahps_consistency_score as INT) total_score
FROM surveys_responses
"""
sqlContext.sql(sql)

++
||
++
++

In [15]:
sqlContext.sql("select * from my_survey_scores limit 10").show()

+-----------+----------+-----------------+-----------+
|provider_id|base_score|consistency_score|total_score|
+-----------+----------+-----------------+-----------+
|     010001|        17|               16|         33|
|     010005|        51|               20|         71|
|     010006|         9|               12|         21|
|     010007|        40|               17|         57|
|     010008|        30|               15|         45|
|     010011|        11|               16|         27|
|     010012|        31|               20|         51|
|     010016|        10|               15|         25|
|     010019|        24|               20|         44|
|     010021|        34|               19|         53|
+-----------+----------+-----------------+-----------+

In [17]:
sqlContext.sql("describe my_survey_scores").show()

+-----------------+---------+-------+
|         col_name|data_type|comment|
+-----------------+---------+-------+
|      provider_id|   string|   null|
|       base_score|      int|   null|
|consistency_score|      int|   null|
|      total_score|      int|   null|
+-----------------+---------+-------+

In [21]:
sql = """
DROP TABLE my_care
"""
sqlContext.sql(sql)


sql = """
CREATE TABLE my_care AS 
SELECT 
provider_id, condition, measure_id,
measure_name,
cast(score as INT) score,
100 - cast(score as DECIMAL(16,4)) new_score,
cast(to_date(from_unixtime(unix_timestamp(measure_start_date, 'MM/dd/yy'))) as date) measure_start,
cast(to_date(from_unixtime(unix_timestamp(measure_end_date, 'MM/dd/yy'))) as date) measure_end
FROM effective_care
WHERE
measure_id = 'OP_22' OR measure_id = 'PC_01' OR measure_id = 'VTE_6'
"""
sqlContext.sql(sql)

DataFrame[]

In [23]:
sql = """
INSERT INTO TABLE my_care
SELECT 
provider_id, condition, measure_id,
measure_name,
cast(score as INT) score,
cast(score as DECIMAL(16,4)) new_score,
cast(to_date(from_unixtime(unix_timestamp(measure_start_date, 'MM/dd/yy'))) as date) measure_start,
cast(to_date(from_unixtime(unix_timestamp(measure_end_date, 'MM/dd/yy'))) as date) measure_end
FROM effective_care
WHERE
measure_id != 'OP_22' AND measure_id != 'PC_01' AND measure_id != 'VTE_6'
"""
sqlContext.sql(sql)

DataFrame[]

In [26]:
sqlContext.sql("describe my_care").show()

+-------------+-------------+-------+
|     col_name|    data_type|comment|
+-------------+-------------+-------+
|  provider_id|       string|   null|
|    condition|       string|   null|
|   measure_id|       string|   null|
| measure_name|       string|   null|
|        score|          int|   null|
|    new_score|decimal(17,4)|   null|
|measure_start|         date|   null|
|  measure_end|         date|   null|
+-------------+-------------+-------+

In [31]:
sqlContext.sql("select * from my_care WHERE measure_id == 'AMI_10'").show()

+-----------+--------------------+----------+-------------------+-----+---------+-------------+-----------+
|provider_id|           condition|measure_id|       measure_name|score|new_score|measure_start|measure_end|
+-----------+--------------------+----------+-------------------+-----+---------+-------------+-----------+
|     010001|Heart Attack or C...|    AMI_10|Statin at Discharge|   98|  98.0000|   2013-10-01| 2014-09-30|
|     010005|Heart Attack or C...|    AMI_10|Statin at Discharge|  100| 100.0000|   2013-10-01| 2014-09-30|
|     010006|Heart Attack or C...|    AMI_10|Statin at Discharge|  100| 100.0000|   2013-10-01| 2014-09-30|
|     010007|Heart Attack or C...|    AMI_10|Statin at Discharge| null|     null|   2013-10-01| 2014-09-30|
|     010008|Heart Attack or C...|    AMI_10|Statin at Discharge| null|     null|   2013-10-01| 2014-09-30|
|     010011|Heart Attack or C...|    AMI_10|Statin at Discharge|  100| 100.0000|   2013-10-01| 2014-09-30|
|     010012|Heart Attack or C...|    AMI_10|Statin at Discharge|  100| 100.0000|   2013-10-01| 2014-09-30|
|     010016|Heart Attack or C...|    AMI_10|Statin at Discharge|   98|  98.0000|   2013-10-01| 2014-09-30|
|     010018|Heart Attack or C...|    AMI_10|Statin at Discharge| null|     null|   2013-10-01| 2014-09-30|
|     010019|Heart Attack or C...|    AMI_10|Statin at Discharge| null|     null|   2013-10-01| 2014-09-30|
|     010021|Heart Attack or C...|    AMI_10|Statin at Discharge| null|     null|   2013-10-01| 2014-09-30|
|     010022|Heart Attack or C...|    AMI_10|Statin at Discharge| null|     null|   2013-10-01| 2014-09-30|
|     010023|Heart Attack or C...|    AMI_10|Statin at Discharge|   99|  99.0000|   2013-10-01| 2014-09-30|
|     010024|Heart Attack or C...|    AMI_10|Statin at Discharge|   98|  98.0000|   2013-10-01| 2014-09-30|
|     010029|Heart Attack or C...|    AMI_10|Statin at Discharge|  100| 100.0000|   2013-10-01| 2014-09-30|
|     010032|Heart Attack or C...|    AMI_10|Statin at Discharge| null|     null|   2013-10-01| 2014-09-30|
|     010033|Heart Attack or C...|    AMI_10|Statin at Discharge|   99|  99.0000|   2013-10-01| 2014-09-30|
|     010034|Heart Attack or C...|    AMI_10|Statin at Discharge| null|     null|   2013-10-01| 2014-09-30|
|     010035|Heart Attack or C...|    AMI_10|Statin at Discharge|  100| 100.0000|   2013-10-01| 2014-09-30|
|     010036|Heart Attack or C...|    AMI_10|Statin at Discharge| null|     null|   2013-10-01| 2014-09-30|
+-----------+--------------------+----------+-------------------+-----+---------+-------------+-----------+
only showing top 20 rows

In [47]:
sql = """
DROP TABLE my_infections
"""
sqlContext.sql(sql)


sql = """
CREATE TABLE my_infections AS 
SELECT 
provider_id, measure_id,
measure_name, compared_to_national,
cast(score as DECIMAL(16,4)) score,
cast(to_date(from_unixtime(unix_timestamp(measure_start_date, 'MM/dd/yy'))) as date) measure_start,
cast(to_date(from_unixtime(unix_timestamp(measure_end_date, 'MM/dd/yy'))) as date) measure_end
FROM infections
"""
sqlContext.sql(sql)

DataFrame[]

In [48]:
sqlContext.sql("describe my_infections").show()

+--------------------+-------------+-------+
|            col_name|    data_type|comment|
+--------------------+-------------+-------+
|         provider_id|       string|   null|
|          measure_id|       string|   null|
|        measure_name|       string|   null|
|compared_to_national|       string|   null|
|               score|decimal(16,4)|   null|
|       measure_start|         date|   null|
|         measure_end|         date|   null|
+--------------------+-------------+-------+

In [53]:
sqlContext.sql("select * from my_infections").show()

+-----------+---------------+--------------------+--------------------+---------+-------------+-----------+
|provider_id|     measure_id|        measure_name|compared_to_national|    score|measure_start|measure_end|
+-----------+---------------+--------------------+--------------------+---------+-------------+-----------+
|     010001| HAI_1_CI_LOWER|CLABSI Lower Conf...|No Different than...|   0.7370|   2013-10-01| 2014-09-30|
|     010001| HAI_1_CI_UPPER|CLABSI Upper Conf...|No Different than...|   3.7820|   2013-10-01| 2014-09-30|
|     010001|HAI_1_DOPC_DAYS|CLABSI Central Li...|No Different than...|2199.0000|   2013-10-01| 2014-09-30|
|     010001|HAI_1_ELIGCASES|CLABSI Predicted ...|No Different than...|   3.3000|   2013-10-01| 2014-09-30|
|     010001|HAI_1_NUMERATOR|CLABSI Observed C...|No Different than...|   6.0000|   2013-10-01| 2014-09-30|
|     010001|      HAI_1_SIR|Central line-asso...|No Different than...|   1.8180|   2013-10-01| 2014-09-30|
|     010001| HAI_2_CI_LOWER|CAUTI Lower Confi...|Worse than the Na...|   2.3950|   2013-10-01| 2014-09-30|
|     010001| HAI_2_CI_UPPER|CAUTI Upper Confi...|Worse than the Na...|   4.8570|   2013-10-01| 2014-09-30|
|     010001|HAI_2_DOPC_DAYS|CAUTI Urinary Cat...|Worse than the Na...|7450.0000|   2013-10-01| 2014-09-30|
|     010001|HAI_2_ELIGCASES|CAUTI Predicted C...|Worse than the Na...|   8.9490|   2013-10-01| 2014-09-30|
|     010001|HAI_2_NUMERATOR|CAUTI Observed Cases|Worse than the Na...|  31.0000|   2013-10-01| 2014-09-30|
|     010001|      HAI_2_SIR|Catheter-Associat...|Worse than the Na...|   3.4640|   2013-10-01| 2014-09-30|
|     010001| HAI_3_CI_LOWER|SSI: Colon Lower ...|No Different than...|   0.2170|   2013-10-01| 2014-09-30|
|     010001| HAI_3_CI_UPPER|SSI: Colon Upper ...|No Different than...|   1.6440|   2013-10-01| 2014-09-30|
|     010001|HAI_3_DOPC_DAYS|SSI: Colon, Numbe...|No Different than...| 171.0000|   2013-10-01| 2014-09-30|
|     010001|HAI_3_ELIGCASES|SSI: Colon Predic...|No Different than...|   5.8680|   2013-10-01| 2014-09-30|
|     010001|HAI_3_NUMERATOR|SSI: Colon Observ...|No Different than...|   4.0000|   2013-10-01| 2014-09-30|
|     010001|      HAI_3_SIR|Surgical Site Inf...|No Different than...|   0.6820|   2013-10-01| 2014-09-30|
|     010001| HAI_4_CI_LOWER|SSI: Abdominal Lo...|       Not Available|     null|   2013-10-01| 2014-09-30|
|     010001| HAI_4_CI_UPPER|SSI: Abdominal Up...|       Not Available|     null|   2013-10-01| 2014-09-30|
+-----------+---------------+--------------------+--------------------+---------+-------------+-----------+
only showing top 20 rows

In [54]:
sql = """
DROP TABLE my_readmissions
"""
sqlContext.sql(sql)


sql = """
CREATE TABLE my_readmissions AS 
SELECT 
provider_id, measure_id,
measure_name, compared_to_national,
cast(score as DECIMAL(16,4)) score,
cast(to_date(from_unixtime(unix_timestamp(measure_start_date, 'MM/dd/yy'))) as date) measure_start,
cast(to_date(from_unixtime(unix_timestamp(measure_end_date, 'MM/dd/yy'))) as date) measure_end
FROM readmissions
"""
sqlContext.sql(sql)

DataFrame[]

In [55]:
sqlContext.sql("describe my_readmissions").show()

+--------------------+-------------+-------+
|            col_name|    data_type|comment|
+--------------------+-------------+-------+
|         provider_id|       string|   null|
|          measure_id|       string|   null|
|        measure_name|       string|   null|
|compared_to_national|       string|   null|
|               score|decimal(16,4)|   null|
|       measure_start|         date|   null|
|         measure_end|         date|   null|
+--------------------+-------------+-------+

In [56]:
sqlContext.sql("select * from my_readmissions").show()

+-----------+------------------+--------------------+--------------------+-------+-------------+-----------+
|provider_id|        measure_id|        measure_name|compared_to_national|  score|measure_start|measure_end|
+-----------+------------------+--------------------+--------------------+-------+-------------+-----------+
|     010001|       MORT_30_AMI|Acute Myocardial ...|No different than...|12.2000|   2011-07-01| 2014-06-30|
|     010001|      MORT_30_CABG| Death rate for CABG|No different than...| 3.7000|   2011-07-01| 2014-06-30|
|     010001|      MORT_30_COPD|Death rate for ch...|No different than...| 8.8000|   2011-07-01| 2014-06-30|
|     010001|        MORT_30_HF|Heart failure (HF...|No different than...|12.6000|   2011-07-01| 2014-06-30|
|     010001|        MORT_30_PN|Pneumonia (PN) 30...|No different than...|11.6000|   2011-07-01| 2014-06-30|
|     010001|       MORT_30_STK|Death rate for st...|No different than...|15.3000|   2011-07-01| 2014-06-30|
|     010001|      READM_30_AMI|Acute Myocardial ...|No different than...|17.4000|   2011-07-01| 2014-06-30|
|     010001|     READM_30_CABG|Rate of unplanned...|No different than...|15.9000|   2011-07-01| 2014-06-30|
|     010001|     READM_30_COPD|Rate of unplanned...|No different than...|22.0000|   2011-07-01| 2014-06-30|
|     010001|       READM_30_HF|Heart failure (HF...|No different than...|21.0000|   2011-07-01| 2014-06-30|
|     010001| READM_30_HIP_KNEE|Rate of readmissi...|No different than...| 5.2000|   2011-07-01| 2014-06-30|
|     010001|READM_30_HOSP_WIDE|Rate of readmissi...|No different than...|14.8000|   2013-07-01| 2014-06-30|
|     010001|       READM_30_PN|Pneumonia (PN) 30...|No different than...|18.2000|   2011-07-01| 2014-06-30|
|     010001|      READM_30_STK|Rate of unplanned...|No different than...|13.0000|   2011-07-01| 2014-06-30|
|     010005|       MORT_30_AMI|Acute Myocardial ...|No different than...|16.9000|   2011-07-01| 2014-06-30|
|     010005|      MORT_30_CABG| Death rate for CABG|       Not Available|   null|   2011-07-01| 2014-06-30|
|     010005|      MORT_30_COPD|Death rate for ch...|No different than...| 7.5000|   2011-07-01| 2014-06-30|
|     010005|        MORT_30_HF|Heart failure (HF...|Worse than the Na...|16.3000|   2011-07-01| 2014-06-30|
|     010005|        MORT_30_PN|Pneumonia (PN) 30...|Worse than the Na...|13.9000|   2011-07-01| 2014-06-30|
|     010005|       MORT_30_STK|Death rate for st...|No different than...|14.8000|   2011-07-01| 2014-06-30|
+-----------+------------------+--------------------+--------------------+-------+-------------+-----------+
only showing top 20 rows

In [57]:
sql = """
DROP TABLE my_complications
"""
sqlContext.sql(sql)


sql = """
CREATE TABLE my_complications AS 
SELECT 
provider_id, measure_id,
measure_name, compared_to_national,
cast(score as DECIMAL(16,4)) score,
cast(to_date(from_unixtime(unix_timestamp(measure_start_date, 'MM/dd/yy'))) as date) measure_start,
cast(to_date(from_unixtime(unix_timestamp(measure_end_date, 'MM/dd/yy'))) as date) measure_end
FROM complications
"""
sqlContext.sql(sql)

DataFrame[]

In [59]:
sqlContext.sql("describe my_complications").show()

+--------------------+-------------+-------+
|            col_name|    data_type|comment|
+--------------------+-------------+-------+
|         provider_id|       string|   null|
|          measure_id|       string|   null|
|        measure_name|       string|   null|
|compared_to_national|       string|   null|
|               score|decimal(16,4)|   null|
|       measure_start|         date|   null|
|         measure_end|         date|   null|
+--------------------+-------------+-------+

In [60]:
sqlContext.sql("select * from my_complications").show()

+-----------+--------------------+--------------------+--------------------+--------+-------------+-----------+
|provider_id|          measure_id|        measure_name|compared_to_national|   score|measure_start|measure_end|
+-----------+--------------------+--------------------+--------------------+--------+-------------+-----------+
|     010001|       COMP_HIP_KNEE|Rate of complicat...|No different than...|  3.9000|   2011-04-01| 2014-03-31|
|     010001|PSI_12_POSTOP_PUL...|Serious blood clo...|Better than the N...|  2.1600|   2012-07-01| 2014-06-30|
|     010001| PSI_14_POSTOP_DEHIS|A wound that spli...|No different than...|  1.6700|   2012-07-01| 2014-06-30|
|     010001|      PSI_15_ACC_LAC|Accidental cuts a...|No different than...|  1.5200|   2012-07-01| 2014-06-30|
|     010001|     PSI_4_SURG_COMP|Deaths among Pati...|No different than...|138.3000|   2012-07-01| 2014-06-30|
|     010001|       PSI_6_IAT_PTX|Collapsed lung du...|No different than...|  0.3100|   2012-07-01| 2014-06-30|
|     010001|       PSI_90_SAFETY|Serious complicat...|Better than the N...|  0.5700|   2012-07-01| 2014-06-30|
|     010005|       COMP_HIP_KNEE|Rate of complicat...|No different than...|  2.8000|   2011-04-01| 2014-03-31|
|     010005|PSI_12_POSTOP_PUL...|Serious blood clo...|No different than...|  3.7000|   2012-07-01| 2014-06-30|
|     010005| PSI_14_POSTOP_DEHIS|A wound that spli...|No different than...|  2.4200|   2012-07-01| 2014-06-30|
|     010005|      PSI_15_ACC_LAC|Accidental cuts a...|No different than...|  1.3500|   2012-07-01| 2014-06-30|
|     010005|     PSI_4_SURG_COMP|Deaths among Pati...|No different than...|141.4200|   2012-07-01| 2014-06-30|
|     010005|       PSI_6_IAT_PTX|Collapsed lung du...|No different than...|  0.3800|   2012-07-01| 2014-06-30|
|     010005|       PSI_90_SAFETY|Serious complicat...|No different than...|  0.6800|   2012-07-01| 2014-06-30|
|     010006|       COMP_HIP_KNEE|Rate of complicat...|No different than...|  3.0000|   2011-04-01| 2014-03-31|
|     010006|PSI_12_POSTOP_PUL...|Serious blood clo...|No different than...|  3.0600|   2012-07-01| 2014-06-30|
|     010006| PSI_14_POSTOP_DEHIS|A wound that spli...|No different than...|  1.4100|   2012-07-01| 2014-06-30|
|     010006|      PSI_15_ACC_LAC|Accidental cuts a...|No different than...|  2.0700|   2012-07-01| 2014-06-30|
|     010006|     PSI_4_SURG_COMP|Deaths among Pati...|Worse than the Na...|168.4200|   2012-07-01| 2014-06-30|
|     010006|       PSI_6_IAT_PTX|Collapsed lung du...|No different than...|  0.3600|   2012-07-01| 2014-06-30|
+-----------+--------------------+--------------------+--------------------+--------+-------------+-----------+
only showing top 20 rows

In [61]:
sqlContext.sql("show tables").show()

+-----------------+-----------+
|        tableName|isTemporary|
+-----------------+-----------+
|    complications|      false|
|   effective_care|      false|
|              foo|      false|
|        hospitals|      false|
|  hospital_survey|      false|
|       infections|      false|
|         measures|      false|
|          my_care|      false|
| my_complications|      false|
|     my_hospitals|      false|
|    my_infections|      false|
|  my_readmissions|      false|
|   my_star_rating|      false|
| my_survey_scores|      false|
|     readmissions|      false|
|         stadiums|      false|
|surveys_responses|      false|
|        user_info|      false|
|     weblogs_flat|      false|
|  weblogs_parquet|      false|
+-----------------+-----------+
only showing top 20 rows

In [29]:
df = sqlContext.sql("show tables")
df.registerTempTable('temp_tables')
query = """SELECT * FROM temp_tables WHERE tableName LIKE '%my%'"""
sqlContext.sql(query).show()

+----------------+-----------+
|       tableName|isTemporary|
+----------------+-----------+
|       my_tables|       true|
|         my_care|      false|
|my_complications|      false|
|    my_hospitals|      false|
|   my_infections|      false|
| my_readmissions|      false|
| my_star_ratings|      false|
|my_survey_scores|      false|
+----------------+-----------+

In [28]:
sqlContext.sql("show tables").show()

+-----------------+-----------+
|        tableName|isTemporary|
+-----------------+-----------+
|        my_tables|       true|
|    complications|      false|
|   effective_care|      false|
|              foo|      false|
|        hospitals|      false|
|  hospital_survey|      false|
|       infections|      false|
|         measures|      false|
|          my_care|      false|
| my_complications|      false|
|     my_hospitals|      false|
|    my_infections|      false|
|  my_readmissions|      false|
|  my_star_ratings|      false|
| my_survey_scores|      false|
|     readmissions|      false|
|         stadiums|      false|
|surveys_responses|      false|
|        user_info|      false|
|     weblogs_flat|      false|
+-----------------+-----------+
only showing top 20 rows

## Exploring data frames

In [3]:
from pyspark.sql import functions as func
#rdd = sqlContext.sql("select * from my_care")

# ignore the values with times
sql = """
select provider_id, measure_name,
measure_id, measure_name, score
from my_care 
where measure_id != 'ED_1b' AND measure_id != 'ED_2b' AND measure_id != 'OP_1'
AND measure_id != 'OP_18b' AND measure_id != 'OP_20' AND measure_id != 'OP_21' 
AND measure_id != 'OP_3b' AND measure_id != 'OP_5'
"""
rdd = sqlContext.sql(sql)
rdd.count()

183843

In [4]:
# add new column for transformed score
rdd = rdd.withColumn('new_score', rdd.score)

# convert measure_id = 'OP_22' OR measure_id = 'PC_01' OR measure_id = 'VTE_6' to 100 - new_score
rdd = rdd.withColumn('new_score', func.when(rdd.measure_id == 'OP_22', 100 - rdd.new_score).otherwise(rdd.new_score))
rdd = rdd.withColumn('new_score', func.when(rdd.measure_id == 'PC_01', 100 - rdd.new_score).otherwise(rdd.new_score))
rdd = rdd.withColumn('new_score', func.when(rdd.measure_id == 'VTE_6', 100 - rdd.new_score).otherwise(rdd.new_score))
#rdd_new = rdd_new[rdd_new.measure_id == 'PC_01'].withColumn('new_score', 100 - rdd.score)
#rdd_new = rdd_new[rdd_new.measure_id == 'VTE_6'].withColumn('new_score', 100 - rdd.score)
rdd.count()
rdd.show()

+-----------+--------------------+----------------+--------------------+-----+---------+
|provider_id|        measure_name|      measure_id|        measure_name|score|new_score|
+-----------+--------------------+----------------+--------------------+-----+---------+
|     010001| Statin at Discharge|          AMI_10| Statin at Discharge|   98|       98|
|     010001|Aspirin prescribe...|           AMI_2|Aspirin prescribe...|   99|       99|
|     010001|Fibrinolytic Ther...|          AMI_7a|Fibrinolytic Ther...| null|     null|
|     010001|Primary PCI Recei...|          AMI_8a|Primary PCI Recei...|   91|       91|
|     010001|Emergency departm...|             EDV|Emergency departm...| null|     null|
|     010001|Discharge instruc...|            HF_1|Discharge instruc...|   91|       91|
|     010001|Evaluation of LVS...|            HF_2|Evaluation of LVS...|  100|      100|
|     010001|ACEI or ARB for LVSD|            HF_3|ACEI or ARB for LVSD|   98|       98|
|     010001|Immunization for ...|           IMM_2|Immunization for ...|   94|       94|
|     010001|Healthcare worker...|IMM_3_FAC_ADHPCT|Healthcare worker...|   56|       56|
|     010001|Fibrinolytic Ther...|            OP_2|Fibrinolytic Ther...| null|     null|
|     010001|Left before being...|           OP_22|Left before being...|    4|       96|
|     010001|     Head CT results|           OP_23|     Head CT results| null|     null|
|     010001|  Aspirin at Arrival|            OP_4|  Aspirin at Arrival| null|     null|
|     010001|Prophylactic Anti...|            OP_6|Prophylactic Anti...|  100|      100|
|     010001|Prophylactic Anti...|            OP_7|Prophylactic Anti...|  100|      100|
|     010001|Percent of newbor...|           PC_01|Percent of newbor...|    0|      100|
|     010001|Initial antibioti...|            PN_6|Initial antibioti...|   99|       99|
|     010001|Surgery Patients ...|     SCIP_CARD_2|Surgery Patients ...|   97|       97|
|     010001|Prophylactic anti...|      SCIP_INF_1|Prophylactic anti...|   99|       99|
+-----------+--------------------+----------------+--------------------+-----+---------+
only showing top 20 rows

In [5]:
rdd[rdd.measure_id == 'VTE_6'].show()

+-----------+--------------------+----------+--------------------+-----+---------+
|provider_id|        measure_name|measure_id|        measure_name|score|new_score|
+-----------+--------------------+----------+--------------------+-----+---------+
|     010001|Incidence of pote...|     VTE_6|Incidence of pote...|    0|      100|
|     010005|Incidence of pote...|     VTE_6|Incidence of pote...|   29|       71|
|     010006|Incidence of pote...|     VTE_6|Incidence of pote...|    8|       92|
|     010007|Incidence of pote...|     VTE_6|Incidence of pote...| null|     null|
|     010008|Incidence of pote...|     VTE_6|Incidence of pote...| null|     null|
|     010011|Incidence of pote...|     VTE_6|Incidence of pote...|   19|       81|
|     010012|Incidence of pote...|     VTE_6|Incidence of pote...| null|     null|
|     010016|Incidence of pote...|     VTE_6|Incidence of pote...|    0|      100|
|     010018|Incidence of pote...|     VTE_6|Incidence of pote...| null|     null|
|     010019|Incidence of pote...|     VTE_6|Incidence of pote...| null|     null|
|     010021|Incidence of pote...|     VTE_6|Incidence of pote...| null|     null|
|     010022|Incidence of pote...|     VTE_6|Incidence of pote...| null|     null|
|     010023|Incidence of pote...|     VTE_6|Incidence of pote...|    0|      100|
|     010024|Incidence of pote...|     VTE_6|Incidence of pote...|   12|       88|
|     010029|Incidence of pote...|     VTE_6|Incidence of pote...|   19|       81|
|     010032|Incidence of pote...|     VTE_6|Incidence of pote...| null|     null|
|     010033|Incidence of pote...|     VTE_6|Incidence of pote...|   10|       90|
|     010034|Incidence of pote...|     VTE_6|Incidence of pote...| null|     null|
|     010035|Incidence of pote...|     VTE_6|Incidence of pote...| null|     null|
|     010036|Incidence of pote...|     VTE_6|Incidence of pote...| null|     null|
+-----------+--------------------+----------+--------------------+-----+---------+
only showing top 20 rows

In [6]:
# select data from readmissions and deaths
sql = """
select provider_id, measure_name,
measure_id, measure_name, score
from my_readmissions
"""
read_df = sqlContext.sql(sql)
print(read_df.count())

# convert scores to new_score so that higher is better
read_df = read_df.withColumn('new_score', read_df.score)
read_df = read_df.withColumn('new_score', 100 - read_df.new_score)
read_df.show()

66990
+-----------+--------------------+------------------+--------------------+-------+---------+
|provider_id|        measure_name|        measure_id|        measure_name|  score|new_score|
+-----------+--------------------+------------------+--------------------+-------+---------+
|     010001|Acute Myocardial ...|       MORT_30_AMI|Acute Myocardial ...|12.2000|  87.8000|
|     010001| Death rate for CABG|      MORT_30_CABG| Death rate for CABG| 3.7000|  96.3000|
|     010001|Death rate for ch...|      MORT_30_COPD|Death rate for ch...| 8.8000|  91.2000|
|     010001|Heart failure (HF...|        MORT_30_HF|Heart failure (HF...|12.6000|  87.4000|
|     010001|Pneumonia (PN) 30...|        MORT_30_PN|Pneumonia (PN) 30...|11.6000|  88.4000|
|     010001|Death rate for st...|       MORT_30_STK|Death rate for st...|15.3000|  84.7000|
|     010001|Acute Myocardial ...|      READM_30_AMI|Acute Myocardial ...|17.4000|  82.6000|
|     010001|Rate of unplanned...|     READM_30_CABG|Rate of unplanned...|15.9000|  84.1000|
|     010001|Rate of unplanned...|     READM_30_COPD|Rate of unplanned...|22.0000|  78.0000|
|     010001|Heart failure (HF...|       READM_30_HF|Heart failure (HF...|21.0000|  79.0000|
|     010001|Rate of readmissi...| READM_30_HIP_KNEE|Rate of readmissi...| 5.2000|  94.8000|
|     010001|Rate of readmissi...|READM_30_HOSP_WIDE|Rate of readmissi...|14.8000|  85.2000|
|     010001|Pneumonia (PN) 30...|       READM_30_PN|Pneumonia (PN) 30...|18.2000|  81.8000|
|     010001|Rate of unplanned...|      READM_30_STK|Rate of unplanned...|13.0000|  87.0000|
|     010005|Acute Myocardial ...|       MORT_30_AMI|Acute Myocardial ...|16.9000|  83.1000|
|     010005| Death rate for CABG|      MORT_30_CABG| Death rate for CABG|   null|     null|
|     010005|Death rate for ch...|      MORT_30_COPD|Death rate for ch...| 7.5000|  92.5000|
|     010005|Heart failure (HF...|        MORT_30_HF|Heart failure (HF...|16.3000|  83.7000|
|     010005|Pneumonia (PN) 30...|        MORT_30_PN|Pneumonia (PN) 30...|13.9000|  86.1000|
|     010005|Death rate for st...|       MORT_30_STK|Death rate for st...|14.8000|  85.2000|
+-----------+--------------------+------------------+--------------------+-------+---------+
only showing top 20 rows

In [7]:
# select data from complications (measure_id != PSI_4_SURG_COMP)
sql = """
select provider_id, measure_name,
measure_id, measure_name, score
from my_complications
where measure_id != 'PSI_4_SURG_COMP'
"""
comp_df = sqlContext.sql(sql)
print(comp_df.count())

# convert scores to new_score so that higher is better
comp_df = comp_df.withColumn('new_score', comp_df.score)
comp_df = comp_df.withColumn('new_score', 100 - comp_df.new_score)
comp_df.sort('score', ascending=False).show()

28065
+-----------+--------------------+--------------------+--------------------+-------+---------+
|provider_id|        measure_name|          measure_id|        measure_name|  score|new_score|
+-----------+--------------------+--------------------+--------------------+-------+---------+
|     140010|Serious blood clo...|PSI_12_POSTOP_PUL...|Serious blood clo...|15.2000|  84.8000|
|     370093|Serious blood clo...|PSI_12_POSTOP_PUL...|Serious blood clo...|14.6700|  85.3300|
|     330160|Serious blood clo...|PSI_12_POSTOP_PUL...|Serious blood clo...|13.9900|  86.0100|
|     170027|Serious blood clo...|PSI_12_POSTOP_PUL...|Serious blood clo...|13.7400|  86.2600|
|     310076|Serious blood clo...|PSI_12_POSTOP_PUL...|Serious blood clo...|12.5400|  87.4600|
|     110083|Serious blood clo...|PSI_12_POSTOP_PUL...|Serious blood clo...|12.1700|  87.8300|
|     140150|Serious blood clo...|PSI_12_POSTOP_PUL...|Serious blood clo...|12.1100|  87.8900|
|     260105|Serious blood clo...|PSI_12_POSTOP_PUL...|Serious blood clo...|11.9200|  88.0800|
|     260032|Serious blood clo...|PSI_12_POSTOP_PUL...|Serious blood clo...|11.7300|  88.2700|
|     110161|Serious blood clo...|PSI_12_POSTOP_PUL...|Serious blood clo...|11.3700|  88.6300|
|     390110|Serious blood clo...|PSI_12_POSTOP_PUL...|Serious blood clo...|11.1800|  88.8200|
|     450289|Serious blood clo...|PSI_12_POSTOP_PUL...|Serious blood clo...|10.9900|  89.0100|
|     330127|Serious blood clo...|PSI_12_POSTOP_PUL...|Serious blood clo...|10.8400|  89.1600|
|     100067|Serious blood clo...|PSI_12_POSTOP_PUL...|Serious blood clo...|10.7000|  89.3000|
|     300011|Serious blood clo...|PSI_12_POSTOP_PUL...|Serious blood clo...|10.6700|  89.3300|
|     450730|Serious blood clo...|PSI_12_POSTOP_PUL...|Serious blood clo...|10.5900|  89.4100|
|     390321|Serious blood clo...|PSI_12_POSTOP_PUL...|Serious blood clo...|10.5300|  89.4700|
|     140281|Serious blood clo...|PSI_12_POSTOP_PUL...|Serious blood clo...|10.3900|  89.6100|
|     230053|Serious blood clo...|PSI_12_POSTOP_PUL...|Serious blood clo...|10.3800|  89.6200|
|     170182|Serious blood clo...|PSI_12_POSTOP_PUL...|Serious blood clo...|10.3400|  89.6600|
+-----------+--------------------+--------------------+--------------------+-------+---------+
only showing top 20 rows

In [8]:
# select data from infections only use Standardized Infections Ratios (SIR) for calculations
sql = """
select provider_id, measure_name,
measure_id, measure_name, score
from my_infections
where measure_id like '%SIR%'
"""
infect_df = sqlContext.sql(sql)
print(infect_df.count())

# convert scores to new_score so that higher is better
infect_df = infect_df.withColumn('new_score', infect_df.score)
infect_df = infect_df.withColumn('new_score', 100 - infect_df.new_score)
infect_df.sort('score', ascending=False).show()

27936
+-----------+--------------------+----------+--------------------+------+---------+
|provider_id|        measure_name|measure_id|        measure_name| score|new_score|
+-----------+--------------------+----------+--------------------+------+---------+
|     100181|Methicillin-resis...| HAI_5_SIR|Methicillin-resis...|9.9890|  90.0110|
|     390270|Surgical Site Inf...| HAI_4_SIR|Surgical Site Inf...|8.2870|  91.7130|
|     330233|Methicillin-resis...| HAI_5_SIR|Methicillin-resis...|7.3070|  92.6930|
|     230297|Methicillin-resis...| HAI_5_SIR|Methicillin-resis...|7.0380|  92.9620|
|     050008|Catheter-Associat...| HAI_2_SIR|Catheter-Associat...|6.7800|  93.2200|
|     480001|Catheter-Associat...| HAI_2_SIR|Catheter-Associat...|5.9170|  94.0830|
|     430012|Surgical Site Inf...| HAI_3_SIR|Surgical Site Inf...|5.6540|  94.3460|
|     140095|Central line-asso...| HAI_1_SIR|Central line-asso...|5.6040|  94.3960|
|     110128|Catheter-Associat...| HAI_2_SIR|Catheter-Associat...|5.3480|  94.6520|
|     190005|Surgical Site Inf...| HAI_4_SIR|Surgical Site Inf...|5.2360|  94.7640|
|     450039|Surgical Site Inf...| HAI_4_SIR|Surgical Site Inf...|5.1280|  94.8720|
|     160047|Surgical Site Inf...| HAI_3_SIR|Surgical Site Inf...|4.8660|  95.1340|
|     050425|Catheter-Associat...| HAI_2_SIR|Catheter-Associat...|4.8120|  95.1880|
|     380056|Clostridium diffi...| HAI_6_SIR|Clostridium diffi...|4.7990|  95.2010|
|     040088|Surgical Site Inf...| HAI_3_SIR|Surgical Site Inf...|4.7790|  95.2210|
|     230141|Surgical Site Inf...| HAI_4_SIR|Surgical Site Inf...|4.6080|  95.3920|
|     180011|Methicillin-resis...| HAI_5_SIR|Methicillin-resis...|4.5780|  95.4220|
|     180048|Catheter-Associat...| HAI_2_SIR|Catheter-Associat...|4.5080|  95.4920|
|     050663|Methicillin-resis...| HAI_5_SIR|Methicillin-resis...|4.5070|  95.4930|
|     370094|Methicillin-resis...| HAI_5_SIR|Methicillin-resis...|4.4880|  95.5120|
+-----------+--------------------+----------+--------------------+------+---------+
only showing top 20 rows

In [18]:
# combine the all the tables
combined_df = rdd.unionAll(read_df).unionAll(comp_df).unionAll(infect_df)
combined_df.count()

306834

In [19]:
# convert null values to 0s
combined_df = combined_df.fillna({'new_score': 0})

In [11]:
# group by hospital, avg new_scores and sum new_scores
combined_df.groupBy('provider_id') \
    .agg(func.avg('new_score').alias('avg_score'),
         func.sum('new_score').alias('sum_score')) \
    .sort('avg_score', ascending=False).show()

+-----------+-----------+---------+
|provider_id|  avg_score|sum_score|
+-----------+-----------+---------+
|     450388|90.19608696|6223.5300|
|     030036|89.65106061|5916.9700|
|     450723|89.55165152|5910.4090|
|     050231|89.32084848|5895.1760|
|     050308|89.28451515|5892.7780|
|     260065|89.23584848|5889.5660|
|     050570|89.15321212|5884.1120|
|     050077|89.08831818|5879.8290|
|     340091|89.00301515|5874.1990|
|     360155|89.00003030|5874.0020|
|     340098|88.99462121|5873.6450|
|     450431|88.96757576|5871.8600|
|     050169|88.95774242|5871.2110|
|     050017|88.91571212|5868.4370|
|     050168|88.87221212|5865.5660|
|     330101|88.86157971|6131.4490|
|     340069|88.85698485|5864.5610|
|     450184|88.85028788|5864.1190|
|     050324|88.83356061|5863.0150|
|     330024|88.78101515|5859.5470|
+-----------+-----------+---------+
only showing top 20 rows

In [20]:
combined_df.registerTempTable('temp_care')

In [27]:
# What hospitals are models of high-quality care? 
# That is, which hospitals have the most consistently 
# high scores for a variety of procedures.
sql = """
select tc.provider_id, avg(new_score) as avg_score, 
sum(new_score) as sum_score,
stddev(new_score) as std_dev,
name, city, state
from temp_care tc inner join my_hospitals h on
tc.provider_id = h.provider_id
group by tc.provider_id, name, city, state
order by avg_score desc
"""
std_dev_df = sqlContext.sql(sql)
std_dev_df.show()

+-----------+-----------+---------+------------------+--------------------+------------------+-----+
|provider_id|  avg_score|sum_score|           std_dev|                name|              city|state|
+-----------+-----------+---------+------------------+--------------------+------------------+-----+
|     450388|90.19608696|6223.5300|23.257167097751356|  METHODIST HOSPITAL|       SAN ANTONIO|   TX|
|     030036|89.65106061|5916.9700|23.463479191803717|CHANDLER REGIONAL...|          CHANDLER|   AZ|
|     450723|89.55165152|5910.4090| 23.74922675582871|METHODIST CHARLTO...|            DALLAS|   TX|
|     050231|89.32084848|5895.1760| 23.55310330273198|POMONA VALLEY HOS...|            POMONA|   CA|
|     050308|89.28451515|5892.7780|24.255605475375035|  EL CAMINO HOSPITAL|     MOUNTAIN VIEW|   CA|
|     260065|89.23584848|5889.5660| 23.41929371605517|MERCY HOSPITAL SP...|       SPRINGFIELD|   MO|
|     050570|89.15321212|5884.1120|23.567910399983944|FOUNTAIN VALLEY R...|   FOUNTAIN VALLEY|   CA|
|     050077|89.08831818|5879.8290|23.457667197921815|SCRIPPS MERCY HOS...|         SAN DIEGO|   CA|
|     340091|89.00301515|5874.1990| 23.92041564418728|MOSES H CONE MEMO...|        GREENSBORO|   NC|
|     360155|89.00003030|5874.0020|23.569490476724678|SOUTHWEST GENERAL...|MIDDLEBURG HEIGHTS|   OH|
|     340098|88.99462121|5873.6450|26.052711637362233|CAROLINAS MEDICAL...|         CHARLOTTE|   NC|
|     450431|88.96757576|5871.8600|26.106479456989213|ST DAVID'S MEDICA...|            AUSTIN|   TX|
|     050169|88.95774242|5871.2110|23.342976216536233|PRESBYTERIAN INTE...|          WHITTIER|   CA|
|     050017|88.91571212|5868.4370|24.186847411768156|MERCY GENERAL HOS...|        SACRAMENTO|   CA|
|     050168|88.87221212|5865.5660|23.706616044647483|ST JUDE MEDICAL C...|         FULLERTON|   CA|
|     330101|88.86157971|6131.4490|25.428706938467933|NEW YORK-PRESBYTE...|          NEW YORK|   NY|
|     340069|88.85698485|5864.5610|23.752424321875804|WAKEMED, RALEIGH ...|           RALEIGH|   NC|
|     450184|88.85028788|5864.1190|23.327200967816157|MEMORIAL HERMANN ...|           HOUSTON|   TX|
|     050324|88.83356061|5863.0150|26.081240823875564|SCRIPPS MEMORIAL ...|          LA JOLLA|   CA|
|     330024|88.78101515|5859.5470|23.435869924238595|MOUNT SINAI HOSPITAL|          NEW YORK|   NY|
+-----------+-----------+---------+------------------+--------------------+------------------+-----+
only showing top 20 rows

In [22]:
# What states are models of high-quality care?
sql = """
select state, avg(new_score) as avg_score, 
sum(new_score) as sum_score,
stddev(new_score) as std_dev
from temp_care tc inner join my_hospitals h on
tc.provider_id = h.provider_id
group by state
order by avg_score desc
"""
sqlContext.sql(sql).show()

+-----+-----------+------------+------------------+
|state|  avg_score|   sum_score|           std_dev|
+-----+-----------+------------+------------------+
|   NJ|78.95018806| 335854.1000| 35.45259501674904|
|   DE|78.92767139|  33386.4050| 35.54092098951954|
|   CT|72.72861036| 145966.3210|40.114278628687806|
|   RI|72.21074236|  54374.6890| 39.97859855171749|
|   FL|72.19711186| 868747.8470| 40.65339308536328|
|   MA|68.35928465| 283622.6720| 42.54619604175828|
|   DC|67.28496577|  37343.1560|42.062219405151644|
|   VA|66.71898543| 366420.6680| 43.51360277857738|
|   NY|65.37620880| 747707.7000|43.391309855907785|
|   PA|65.21485433| 722124.0820| 43.90396192797005|
|   SC|64.40588632| 261745.5220| 44.33205647830185|
|   CA|64.32420505|1411659.0040|  44.1269291361826|
|   NC|63.56589196| 453034.1120|44.602737899883266|
|   OH|60.70896270| 664095.3430|  45.3983911165996|
|   IL|59.17159302| 688579.8280| 45.53908064247492|
|   MD|58.90852673| 173014.3430| 45.70306479373572|
|   AZ|56.47508520| 283053.1270| 46.19085173989135|
|   TN|55.98047080| 398804.8740| 46.21626522319137|
|   MI|55.42334517| 488445.9410| 46.38446622675821|
|   IN|55.11480709| 449130.5630| 46.54111052859443|
+-----+-----------+------------+------------------+
only showing top 20 rows

In [28]:
# Which procedures have the greatest variability between hospitals?
sql = """
select measure_id, measure_name, avg(new_score) as avg_score, 
sum(new_score) as sum_score,
stddev(new_score) as std_dev
from temp_care
group by measure_id, measure_name
order by std_dev desc
"""
measures_df = sqlContext.sql(sql)
measures_df.show()

+-------------------+--------------------+-----------+-----------+------------------+
|         measure_id|        measure_name|  avg_score|  sum_score|           std_dev|
+-------------------+--------------------+-----------+-----------+------------------+
|          HAI_2_SIR|Catheter-Associat...|48.30051912|224887.2170| 49.45932191841454|
|              AMI_2|Aspirin prescribe...|46.76739691|217749.0000|49.334403774660466|
|          HAI_1_SIR|Central line-asso...|42.76890163|199132.0060| 49.26597269849545|
|              VTE_4|Unfractionated he...|43.39819588|202062.0000| 49.17729021645856|
|          HAI_3_SIR|Surgical Site Inf...|43.31772380|201687.3220| 49.14184522159113|
|             AMI_10| Statin at Discharge|45.86168385|213532.0000| 48.86002194975948|
|              STK_2|Discharged on Ant...|56.60674399|263561.0000| 48.84487628252045|
|PSI_14_POSTOP_DEHIS|A wound that spli...|54.71919029|254772.5500|48.829550373292854|
|          HAI_5_SIR|Methicillin-resis...|40.52777857|188697.3370|48.726715857075924|
|              STK_5|Antithrombotic Th...|56.16967354|261526.0000| 48.50840425178849|
|               OP_4|  Aspirin at Arrival|49.02894673|201558.0000|48.425543022885996|
|             STK_10|Assessed for Reha...|56.41666667|262676.0000| 48.17030138249742|
|              PC_01|Percent of newbor...|51.83290378|241334.0000|47.994384155528074|
|               HF_3|ACEI or ARB for LVSD|55.77920962|259708.0000| 47.89632324947922|
|      COMP_HIP_KNEE|Rate of complicat...|56.01301985|268022.3000| 47.81653976613636|
|              STK_6|Discharged on Sta...|52.05111684|242350.0000|47.245519783849744|
|              STK_1|Venous Thromboemb...|55.03178694|256228.0000|47.132188021202104|
|              VTE_3|Anticoagulation o...|54.01653780|251501.0000|  47.0564608559557|
|  READM_30_HIP_KNEE|Rate of readmissi...|55.24509927|264347.8000| 46.93941003836553|
|              STK_8|    Stroke Education|46.12542955|214760.0000| 46.35370037984926|
+-------------------+--------------------+-----------+-----------+------------------+
only showing top 20 rows

In [29]:
# Are average scores for hospital quality or procedural variability correlated with patient survey responses?
sql = """
select provider_id, 
total_score as survey_score
from my_survey_scores
"""
survey_df = sqlContext.sql(sql)
survey_df.sort('survey_score', ascending=False).show()

+-----------+------------+
|provider_id|survey_score|
+-----------+------------+
|     010045|         100|
|     040152|         100|
|     100313|         100|
|     110200|         100|
|     170190|         100|
|     180149|         100|
|     190241|         100|
|     190259|         100|
|     190261|         100|
|     190263|         100|
|     190267|         100|
|     450875|         100|
|     280131|         100|
|     360352|         100|
|     390316|         100|
|     390323|         100|
|     390324|         100|
|     430091|         100|
|     430092|         100|
|     450422|         100|
+-----------+------------+
only showing top 20 rows

In [17]:
cor_df = combined_df.join(survey_df, on='provider_id', how='inner')
cor_df.show()

+-----------+-----------+---------+------------------+--------------------+------------------+-----+------------+
|provider_id|  avg_score|sum_score|           std_dev|                name|              city|state|survey_score|
+-----------+-----------+---------+------------------+--------------------+------------------+-----+------------+
|     450388|90.19608696|6223.5300|23.257167097751356|  METHODIST HOSPITAL|       SAN ANTONIO|   TX|          33|
|     030036|89.65106061|5916.9700|23.463479191803717|CHANDLER REGIONAL...|          CHANDLER|   AZ|          29|
|     450723|89.55165152|5910.4090| 23.74922675582871|METHODIST CHARLTO...|            DALLAS|   TX|          40|
|     050231|89.32084848|5895.1760| 23.55310330273198|POMONA VALLEY HOS...|            POMONA|   CA|          11|
|     050308|89.28451515|5892.7780|24.255605475375035|  EL CAMINO HOSPITAL|     MOUNTAIN VIEW|   CA|          37|
|     260065|89.23584848|5889.5660| 23.41929371605517|MERCY HOSPITAL SP...|       SPRINGFIELD|   MO|          42|
|     050570|89.15321212|5884.1120|23.567910399983944|FOUNTAIN VALLEY R...|   FOUNTAIN VALLEY|   CA|          11|
|     050077|89.08831818|5879.8290|23.457667197921815|SCRIPPS MERCY HOS...|         SAN DIEGO|   CA|          16|
|     340091|89.00301515|5874.1990| 23.92041564418728|MOSES H CONE MEMO...|        GREENSBORO|   NC|          41|
|     360155|89.00003030|5874.0020|23.569490476724678|SOUTHWEST GENERAL...|MIDDLEBURG HEIGHTS|   OH|          28|
|     340098|88.99462121|5873.6450|26.052711637362233|CAROLINAS MEDICAL...|         CHARLOTTE|   NC|          60|
|     450431|88.96757576|5871.8600|26.106479456989213|ST DAVID'S MEDICA...|            AUSTIN|   TX|          57|
|     050169|88.95774242|5871.2110|23.342976216536233|PRESBYTERIAN INTE...|          WHITTIER|   CA|          51|
|     050017|88.91571212|5868.4370|24.186847411768156|MERCY GENERAL HOS...|        SACRAMENTO|   CA|          35|
|     050168|88.87221212|5865.5660|23.706616044647483|ST JUDE MEDICAL C...|         FULLERTON|   CA|          30|
|     330101|88.86157971|6131.4490|25.428706938467933|NEW YORK-PRESBYTE...|          NEW YORK|   NY|          23|
|     340069|88.85698485|5864.5610|23.752424321875804|WAKEMED, RALEIGH ...|           RALEIGH|   NC|          56|
|     450184|88.85028788|5864.1190|23.327200967816157|MEMORIAL HERMANN ...|           HOUSTON|   TX|          39|
|     050324|88.83356061|5863.0150|26.081240823875564|SCRIPPS MEMORIAL ...|          LA JOLLA|   CA|          44|
|     330024|88.78101515|5859.5470|23.435869924238595|MOUNT SINAI HOSPITAL|          NEW YORK|   NY|          40|
+-----------+-----------+---------+------------------+--------------------+------------------+-----+------------+
only showing top 20 rows

In [181]:
# Are average scores for hospital quality correlated with patient survey scores?
cor_df.stat.corr('avg_score', 'survey_score')

-0.3704612946834205

In [35]:
# Is procedural variability correlated with patient survey responses?
sql = """
select measure_id, measure_name, avg(new_score) as avg_score, 
sum(new_score) as sum_score,
stddev(new_score) as std_dev,
avg(total_score) as avg_survey_score
from temp_care inner join my_survey_scores
on temp_care.provider_id = my_survey_scores.provider_id
group by measure_id, measure_name
order by std_dev desc
"""
score_df = sqlContext.sql(sql)
score_df.show()

+-------------+--------------------+-----------+-----------+------------------+------------------+
|   measure_id|        measure_name|  avg_score|  sum_score|           std_dev|  avg_survey_score|
+-------------+--------------------+-----------+-----------+------------------+------------------+
|         OP_4|  Aspirin at Arrival|50.53696370|153127.0000| 48.53271279500972|42.005003335557035|
|    HAI_5_SIR|Methicillin-resis...|59.82674650|183847.5920|48.482177023550555| 41.96415652745807|
|        STK_3|Anticoagulation T...|46.76830459|143719.0000|48.390243806926144| 41.96415652745807|
|       AMI_8a|Primary PCI Recei...|46.40416531|142600.0000| 47.99821705484352| 41.96415652745807|
|    HAI_1_SIR|Central line-asso...|63.08601269|193863.3170| 47.94357343907053| 41.96415652745807|
|        VTE_4|Unfractionated he...|64.26488773|197486.0000|47.325009096355636| 41.96415652745807|
|    HAI_3_SIR|Surgical Site Inf...|64.31127009|197628.5330|47.278492573550515| 41.96415652745807|
|        VTE_6|Incidence of pote...|41.33159779|127012.0000| 46.78963001227524| 41.96415652745807|
|        AMI_2|Aspirin prescribe...|67.99121380|208937.0000|45.856021804001635| 41.96415652745807|
| MORT_30_CABG| Death rate for CABG|32.96137325|101290.3000| 45.85373591787321| 41.96415652745807|
|       AMI_10| Statin at Discharge|66.57207940|204576.0000| 45.77179306254352| 41.96415652745807|
|    HAI_2_SIR|Catheter-Associat...|70.99294273|218161.3130|44.548309699445944| 41.96415652745807|
|    HAI_4_SIR|Surgical Site Inf...|26.91963814| 82724.0480| 44.07390975918724| 41.96415652745807|
|        STK_8|    Stroke Education|68.70647576|211135.0000|40.652349078031556| 41.96415652745807|
|        PC_01|Percent of newbor...|74.04978848|227555.0000| 40.64881135710322| 41.96415652745807|
|READM_30_CABG|Rate of unplanned...|28.75060202| 88350.6000| 40.23414006953707| 41.96415652745807|
|        VTE_5|Warfarin therapy ...|68.91181256|211766.0000| 39.72823847567489| 41.96415652745807|
|        STK_4|Thrombolytic Therapy|23.48551904| 72171.0000|  39.1342429370512| 41.96415652745807|
|COMP_HIP_KNEE|Rate of complicat...|77.48574683|238113.7000| 38.72304590703825| 41.96415652745807|
| READM_30_AMI|Acute Myocardial ...|57.69053043|177283.0000| 38.22049859689916| 41.96415652745807|
+-------------+--------------------+-----------+-----------+------------------+------------------+
only showing top 20 rows

In [31]:
score_df.stat.corr('std_dev', 'avg_survey_score')

0.04395496005154914


## SQL Exploration

In [48]:
# ignore the values with times
sql = """
select provider_id, avg(new_score) as agg_score from my_care 
where measure_id != 'ED_1b' AND measure_id != 'ED_2b' AND measure_id != 'OP_1'
AND measure_id != 'OP_18b' AND measure_id != 'OP_20' AND measure_id != 'OP_21' 
AND measure_id != 'OP_3b' AND measure_id != 'OP_5'
group by provider_id order by agg_score DESC
"""
sqlContext.sql(sql).show()

+-----------+------------+
|provider_id|   agg_score|
+-----------+------------+
|     511321|100.00000000|
|     281324|100.00000000|
|     111319|100.00000000|
|     461302|100.00000000|
|     141332|100.00000000|
|     210058|100.00000000|
|     490144|100.00000000|
|     141329|100.00000000|
|     531302|100.00000000|
|     261333|100.00000000|
|     201304|100.00000000|
|     351315|100.00000000|
|     141326|100.00000000|
|     06007F|100.00000000|
|     261329|100.00000000|
|     201306|100.00000000|
|     141328|100.00000000|
|     201307|100.00000000|
|     231313|100.00000000|
|     491303|100.00000000|
+-----------+------------+
only showing top 20 rows

In [53]:
sql = """
select * from effective_care 
where measure_id != 'ED_1b' AND measure_id != 'ED_2b' AND measure_id != 'OP_1'
AND measure_id != 'OP_18b' AND measure_id != 'OP_20' AND measure_id != 'OP_21' 
AND measure_id != 'OP_3b' AND measure_id != 'OP_5'
AND provider_id = '281324'
"""
sqlContext.sql(sql).show()

+-----------+--------------------+-------------+------+-----+--------+-----------+------------+--------------------+-----------+--------------------+-------------+-------------+--------------------+------------------+----------------+
|provider_id|       hospital_name|      address|  city|state|zip_code|county_name|phone_number|           condition| measure_id|        measure_name|        score|       sample|            footnote|measure_start_date|measure_end_date|
+-----------+--------------------+-------------+------+-----+--------+-----------+------------+--------------------+-----------+--------------------+-------------+-------------+--------------------+------------------+----------------+
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|Heart Attack or C...|     AMI_10| Statin at Discharge|Not Available|Not Available|5 - Results are n...|        10/01/2013|      09/30/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|Heart Attack or C...|      AMI_2|Aspirin prescribe...|Not Available|Not Available|5 - Results are n...|        10/01/2013|      09/30/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|Heart Attack or C...|     AMI_7a|Fibrinolytic Ther...|Not Available|Not Available|5 - Results are n...|        10/01/2013|      09/30/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|Heart Attack or C...|     AMI_8a|Primary PCI Recei...|Not Available|Not Available|5 - Results are n...|        10/01/2013|      09/30/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|Emergency Department|        EDV|Emergency departm...|Not Available|             |5 - Results are n...|        01/01/2013|      12/31/2013|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|       Heart Failure|       HF_1|Discharge instruc...|Not Available|Not Available|1 - The number of...|        10/01/2013|      09/30/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|       Heart Failure|       HF_2|Evaluation of LVS...|Not Available|Not Available|1 - The number of...|        10/01/2013|      09/30/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|       Heart Failure|       HF_3|ACEI or ARB for LVSD|Not Available|Not Available|3 - Results are b...|        10/01/2013|      09/30/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|     Preventive Care|      IMM_2|Immunization for ...|Not Available|Not Available|5 - Results are n...|        10/01/2013|      03/31/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|Heart Attack or C...|       OP_2|Fibrinolytic Ther...|Not Available|Not Available|1 - The number of...|        10/01/2013|      09/30/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|Emergency Department|      OP_22|Left before being...|Not Available|Not Available|5 - Results are n...|        01/01/2013|      12/31/2013|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|Emergency Department|      OP_23|     Head CT results|Not Available|Not Available|5 - Results are n...|        10/01/2013|      09/30/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|Heart Attack or C...|       OP_4|  Aspirin at Arrival|          100|           15|                    |        10/01/2013|      09/30/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|Surgical Care Imp...|       OP_6|Prophylactic Anti...|Not Available|Not Available|5 - Results are n...|        10/01/2013|      09/30/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|Surgical Care Imp...|       OP_7|Prophylactic Anti...|Not Available|Not Available|5 - Results are n...|        10/01/2013|      09/30/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|Pregnancy and Del...|      PC_01|Percent of newbor...|Not Available|Not Available|5 - Results are n...|        10/01/2013|      09/30/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|           Pneumonia|       PN_6|Initial antibioti...|Not Available|Not Available|1 - The number of...|        10/01/2013|      09/30/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|Surgical Care Imp...|SCIP_CARD_2|Surgery Patients ...|Not Available|Not Available|5 - Results are n...|        10/01/2013|      09/30/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|Surgical Care Imp...| SCIP_INF_1|Prophylactic anti...|Not Available|Not Available|5 - Results are n...|        10/01/2013|      09/30/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|Surgical Care Imp...|SCIP_INF_10|Surgery Patients ...|Not Available|Not Available|5 - Results are n...|        10/01/2013|      09/30/2014|
+-----------+--------------------+-------------+------+-----+--------+-----------+------------+--------------------+-----------+--------------------+-------------+-------------+--------------------+------------------+----------------+
only showing top 20 rows

In [52]:
sqlContext.sql("select * from my_hospitals where provider_id = '281324'").show()

+-----------+--------------------+------+-----+--------+--------------------+------------------+
|provider_id|                name|  city|state|zip_code|                type|         ownership|
+-----------+--------------------+------+-----+--------+--------------------+------------------+
|     281324|NEMAHA COUNTY HOS...|AUBURN|   NE|   68305|Critical Access H...|Government - Local|
+-----------+--------------------+------+-----+--------+--------------------+------------------+