In [1]:
from pyspark.sql import HiveContext
sqlContext = HiveContext(sc)

In [1]:
sqlContext.sql("show tables").show(50)

+--------------------+-----------+
|           tableName|isTemporary|
+--------------------+-----------+
|        bike_seasons|      false|
|      bike_share_raw|      false|
|       complications|      false|
|      effective_care|      false|
|                 foo|      false|
|           hospitals|      false|
|     hospital_survey|      false|
|          infections|      false|
|            measures|      false|
|             my_care|      false|
|my_combined_proce...|      false|
|    my_complications|      false|
|        my_hospitals|      false|
|       my_infections|      false|
|     my_readmissions|      false|
|     my_star_ratings|      false|
|    my_survey_scores|      false|
|        readmissions|      false|
|             seasons|      false|
|            stadiums|      false|
|   surveys_responses|      false|
|           user_info|      false|
|             weather|      false|
|        weblogs_flat|      false|
|     weblogs_parquet|      false|
|      weblogs_schema|      false|
|     web_session_log|      false|
+--------------------+-----------+

In [2]:
tables = ['complications', 'effective_care', 'hospitals', 'surveys_responses',
          'hospital_survey', 'infections', 'measures', 'readmissions',
          'my_complications', 'my_hospitals', 'my_infections', 'my_readmissions', 'my_star_ratings', 
          'my_survey_scores', 'my_combined_procedures', 'my_care']
for table in tables:
    sql = "DROP TABLE IF EXISTS %s" % (table)
    sqlContext.sql(sql)

In [4]:
sqlContext.sql("show tables").show(50)

+--------------------+-----------+
|           tableName|isTemporary|
+--------------------+-----------+
|        bike_seasons|      false|
|      bike_share_raw|      false|
|       complications|      false|
|      effective_care|      false|
|                 foo|      false|
|           hospitals|      false|
|          infections|      false|
|            measures|      false|
|             my_care|      false|
|my_combined_proce...|      false|
|    my_complications|      false|
|        my_hospitals|      false|
|       my_infections|      false|
|     my_readmissions|      false|
|    my_survey_scores|      false|
|        readmissions|      false|
|             seasons|      false|
|            stadiums|      false|
|   surveys_responses|      false|
|           user_info|      false|
|             weather|      false|
|        weblogs_flat|      false|
|     weblogs_parquet|      false|
|      weblogs_schema|      false|
|     web_session_log|      false|
+--------------------+-----------+

In [62]:
sqlContext.sql("DROP TABLE my_hospitals")

sql = """
CREATE TABLE my_hospitals AS 
SELECT 
provider_id, hospital_name name, city, state, 
zip_code, hospital_type type, hospital_ownership ownership 
FROM hospitals
"""
sqlContext.sql(sql)

DataFrame[]

In [6]:
sqlContext.sql("show tables").show()

+-----------------+-----------+
|        tableName|isTemporary|
+-----------------+-----------+
|    complications|      false|
|   effective_care|      false|
|              foo|      false|
|        hospitals|      false|
|  hospital_survey|      false|
|       infections|      false|
|         measures|      false|
|     my_hospitals|      false|
|     readmissions|      false|
|         stadiums|      false|
|surveys_responses|      false|
|        user_info|      false|
|     weblogs_flat|      false|
|  weblogs_parquet|      false|
|   weblogs_schema|      false|
|  web_session_log|      false|
+-----------------+-----------+

In [8]:
sqlContext.sql("describe hospital_survey").show()

+--------------------+---------+-----------------+
|            col_name|data_type|          comment|
+--------------------+---------+-----------------+
|         provider_id|   string|from deserializer|
|       hospital_name|   string|from deserializer|
|             address|   string|from deserializer|
|                city|   string|from deserializer|
|               state|   string|from deserializer|
|            zip_code|   string|from deserializer|
|         county_name|   string|from deserializer|
|        phone_number|   string|from deserializer|
|   hcahps_measure_id|   string|from deserializer|
|     hcahps_question|   string|from deserializer|
|hcahps_answer_des...|   string|from deserializer|
|patient_survey_st...|   string|from deserializer|
|patient_survey_st...|   string|from deserializer|
|hcahps_answer_per...|   string|from deserializer|
|hcahps_answer_per...|   string|from deserializer|
|number_of_complet...|   string|from deserializer|
|number_of_complet...|   string|from deserializer|
|survey_response_r...|   string|from deserializer|
|survey_response_r...|   string|from deserializer|
|  measure_start_date|   string|from deserializer|
+--------------------+---------+-----------------+
only showing top 20 rows

In [63]:
sql = """DROP TABLE my_star_ratings"""
sqlContext.sql(sql)

# create new table
sql = """
CREATE TABLE my_star_ratings AS 
SELECT 
provider_id, hcahps_measure_id measure_id, 
hcahps_question question, hcahps_answer_description answer,
cast(patient_survey_star_rating AS INT) star_rating,
cast(to_date(from_unixtime(unix_timestamp(measure_start_date, 'MM/dd/yy'))) as date) measure_start,
cast(to_date(from_unixtime(unix_timestamp(measure_end_date, 'MM/dd/yy'))) as date) measure_end
FROM hospital_survey
"""
sqlContext.sql(sql)

DataFrame[]

In [65]:
sqlContext.sql('describe my_star_ratings').show()

+-------------+---------+-------+
|     col_name|data_type|comment|
+-------------+---------+-------+
|  provider_id|   string|   null|
|   measure_id|   string|   null|
|     question|   string|   null|
|       answer|   string|   null|
|  star_rating|      int|   null|
|measure_start|     date|   null|
|  measure_end|     date|   null|
+-------------+---------+-------+

In [66]:
sqlContext.sql('select * from my_star_ratings limit 10').show()

+-----------+--------------------+--------------------+--------------------+-----------+-------------+-----------+
|provider_id|          measure_id|            question|              answer|star_rating|measure_start|measure_end|
+-----------+--------------------+--------------------+--------------------+-----------+-------------+-----------+
|     010001|       H_STAR_RATING| Summary star rating| Summary star rating|          3|   2013-10-01| 2014-09-30|
|     010001|     H_CLEAN_HSP_A_P|Patients who repo...|Room was "always"...|       null|   2013-10-01| 2014-09-30|
|     010001|    H_CLEAN_HSP_SN_P|Patients who repo...|Room was "sometim...|       null|   2013-10-01| 2014-09-30|
|     010001|     H_CLEAN_HSP_U_P|Patients who repo...|Room was "usually...|       null|   2013-10-01| 2014-09-30|
|     010001| H_CLEAN_STAR_RATING|Cleanliness - sta...|Cleanliness - sta...|          2|   2013-10-01| 2014-09-30|
|     010001|        H_COMP_1_A_P|Patients who repo...|Nurses "always" c...|       null|   2013-10-01| 2014-09-30|
|     010001|       H_COMP_1_SN_P|Patients who repo...|Nurses "sometimes...|       null|   2013-10-01| 2014-09-30|
|     010001|H_COMP_1_STAR_RATING|Nurse communicati...|Nurse communicati...|          3|   2013-10-01| 2014-09-30|
|     010001|        H_COMP_1_U_P|Patients who repo...|Nurses "usually" ...|       null|   2013-10-01| 2014-09-30|
|     010001|        H_COMP_2_A_P|Patients who repo...|Doctors "always" ...|       null|   2013-10-01| 2014-09-30|
+-----------+--------------------+--------------------+--------------------+-----------+-------------+-----------+

In [14]:
sql = """
CREATE TABLE my_survey_scores AS 
SELECT 
provider_number provider_id, 
cast(hcahps_base_score as INT) base_score,
cast(hcahps_consistency_score as INT) consistency_score,
cast(hcahps_base_score as INT) + cast(hcahps_consistency_score as INT) total_score
FROM surveys_responses
"""
sqlContext.sql(sql)

++
||
++
++

In [15]:
sqlContext.sql("select * from my_survey_scores limit 10").show()

+-----------+----------+-----------------+-----------+
|provider_id|base_score|consistency_score|total_score|
+-----------+----------+-----------------+-----------+
|     010001|        17|               16|         33|
|     010005|        51|               20|         71|
|     010006|         9|               12|         21|
|     010007|        40|               17|         57|
|     010008|        30|               15|         45|
|     010011|        11|               16|         27|
|     010012|        31|               20|         51|
|     010016|        10|               15|         25|
|     010019|        24|               20|         44|
|     010021|        34|               19|         53|
+-----------+----------+-----------------+-----------+

In [17]:
sqlContext.sql("describe my_survey_scores").show()

+-----------------+---------+-------+
|         col_name|data_type|comment|
+-----------------+---------+-------+
|      provider_id|   string|   null|
|       base_score|      int|   null|
|consistency_score|      int|   null|
|      total_score|      int|   null|
+-----------------+---------+-------+

In [21]:
sql = """
DROP TABLE my_care
"""
sqlContext.sql(sql)


sql = """
CREATE TABLE my_care AS 
SELECT 
provider_id, condition, measure_id,
measure_name,
cast(score as INT) score,
100 - cast(score as DECIMAL(16,4)) new_score,
cast(to_date(from_unixtime(unix_timestamp(measure_start_date, 'MM/dd/yy'))) as date) measure_start,
cast(to_date(from_unixtime(unix_timestamp(measure_end_date, 'MM/dd/yy'))) as date) measure_end
FROM effective_care
WHERE
measure_id = 'OP_22' OR measure_id = 'PC_01' OR measure_id = 'VTE_6'
"""
sqlContext.sql(sql)

DataFrame[]

In [23]:
sql = """
INSERT INTO TABLE my_care
SELECT 
provider_id, condition, measure_id,
measure_name,
cast(score as INT) score,
cast(score as DECIMAL(16,4)) new_score,
cast(to_date(from_unixtime(unix_timestamp(measure_start_date, 'MM/dd/yy'))) as date) measure_start,
cast(to_date(from_unixtime(unix_timestamp(measure_end_date, 'MM/dd/yy'))) as date) measure_end
FROM effective_care
WHERE
measure_id != 'OP_22' AND measure_id != 'PC_01' AND measure_id != 'VTE_6'
"""
sqlContext.sql(sql)

DataFrame[]

In [26]:
sqlContext.sql("describe my_care").show()

+-------------+-------------+-------+
|     col_name|    data_type|comment|
+-------------+-------------+-------+
|  provider_id|       string|   null|
|    condition|       string|   null|
|   measure_id|       string|   null|
| measure_name|       string|   null|
|        score|          int|   null|
|    new_score|decimal(17,4)|   null|
|measure_start|         date|   null|
|  measure_end|         date|   null|
+-------------+-------------+-------+

In [31]:
sqlContext.sql("select * from my_care WHERE measure_id == 'AMI_10'").show()

+-----------+--------------------+----------+-------------------+-----+---------+-------------+-----------+
|provider_id|           condition|measure_id|       measure_name|score|new_score|measure_start|measure_end|
+-----------+--------------------+----------+-------------------+-----+---------+-------------+-----------+
|     010001|Heart Attack or C...|    AMI_10|Statin at Discharge|   98|  98.0000|   2013-10-01| 2014-09-30|
|     010005|Heart Attack or C...|    AMI_10|Statin at Discharge|  100| 100.0000|   2013-10-01| 2014-09-30|
|     010006|Heart Attack or C...|    AMI_10|Statin at Discharge|  100| 100.0000|   2013-10-01| 2014-09-30|
|     010007|Heart Attack or C...|    AMI_10|Statin at Discharge| null|     null|   2013-10-01| 2014-09-30|
|     010008|Heart Attack or C...|    AMI_10|Statin at Discharge| null|     null|   2013-10-01| 2014-09-30|
|     010011|Heart Attack or C...|    AMI_10|Statin at Discharge|  100| 100.0000|   2013-10-01| 2014-09-30|
|     010012|Heart Attack or C...|    AMI_10|Statin at Discharge|  100| 100.0000|   2013-10-01| 2014-09-30|
|     010016|Heart Attack or C...|    AMI_10|Statin at Discharge|   98|  98.0000|   2013-10-01| 2014-09-30|
|     010018|Heart Attack or C...|    AMI_10|Statin at Discharge| null|     null|   2013-10-01| 2014-09-30|
|     010019|Heart Attack or C...|    AMI_10|Statin at Discharge| null|     null|   2013-10-01| 2014-09-30|
|     010021|Heart Attack or C...|    AMI_10|Statin at Discharge| null|     null|   2013-10-01| 2014-09-30|
|     010022|Heart Attack or C...|    AMI_10|Statin at Discharge| null|     null|   2013-10-01| 2014-09-30|
|     010023|Heart Attack or C...|    AMI_10|Statin at Discharge|   99|  99.0000|   2013-10-01| 2014-09-30|
|     010024|Heart Attack or C...|    AMI_10|Statin at Discharge|   98|  98.0000|   2013-10-01| 2014-09-30|
|     010029|Heart Attack or C...|    AMI_10|Statin at Discharge|  100| 100.0000|   2013-10-01| 2014-09-30|
|     010032|Heart Attack or C...|    AMI_10|Statin at Discharge| null|     null|   2013-10-01| 2014-09-30|
|     010033|Heart Attack or C...|    AMI_10|Statin at Discharge|   99|  99.0000|   2013-10-01| 2014-09-30|
|     010034|Heart Attack or C...|    AMI_10|Statin at Discharge| null|     null|   2013-10-01| 2014-09-30|
|     010035|Heart Attack or C...|    AMI_10|Statin at Discharge|  100| 100.0000|   2013-10-01| 2014-09-30|
|     010036|Heart Attack or C...|    AMI_10|Statin at Discharge| null|     null|   2013-10-01| 2014-09-30|
+-----------+--------------------+----------+-------------------+-----+---------+-------------+-----------+
only showing top 20 rows

In [47]:
sql = """
DROP TABLE my_infections
"""
sqlContext.sql(sql)


sql = """
CREATE TABLE my_infections AS 
SELECT 
provider_id, measure_id,
measure_name, compared_to_national,
cast(score as DECIMAL(16,4)) score,
cast(to_date(from_unixtime(unix_timestamp(measure_start_date, 'MM/dd/yy'))) as date) measure_start,
cast(to_date(from_unixtime(unix_timestamp(measure_end_date, 'MM/dd/yy'))) as date) measure_end
FROM infections
"""
sqlContext.sql(sql)

DataFrame[]

In [48]:
sqlContext.sql("describe my_infections").show()

+--------------------+-------------+-------+
|            col_name|    data_type|comment|
+--------------------+-------------+-------+
|         provider_id|       string|   null|
|          measure_id|       string|   null|
|        measure_name|       string|   null|
|compared_to_national|       string|   null|
|               score|decimal(16,4)|   null|
|       measure_start|         date|   null|
|         measure_end|         date|   null|
+--------------------+-------------+-------+

In [53]:
sqlContext.sql("select * from my_infections").show()

+-----------+---------------+--------------------+--------------------+---------+-------------+-----------+
|provider_id|     measure_id|        measure_name|compared_to_national|    score|measure_start|measure_end|
+-----------+---------------+--------------------+--------------------+---------+-------------+-----------+
|     010001| HAI_1_CI_LOWER|CLABSI Lower Conf...|No Different than...|   0.7370|   2013-10-01| 2014-09-30|
|     010001| HAI_1_CI_UPPER|CLABSI Upper Conf...|No Different than...|   3.7820|   2013-10-01| 2014-09-30|
|     010001|HAI_1_DOPC_DAYS|CLABSI Central Li...|No Different than...|2199.0000|   2013-10-01| 2014-09-30|
|     010001|HAI_1_ELIGCASES|CLABSI Predicted ...|No Different than...|   3.3000|   2013-10-01| 2014-09-30|
|     010001|HAI_1_NUMERATOR|CLABSI Observed C...|No Different than...|   6.0000|   2013-10-01| 2014-09-30|
|     010001|      HAI_1_SIR|Central line-asso...|No Different than...|   1.8180|   2013-10-01| 2014-09-30|
|     010001| HAI_2_CI_LOWER|CAUTI Lower Confi...|Worse than the Na...|   2.3950|   2013-10-01| 2014-09-30|
|     010001| HAI_2_CI_UPPER|CAUTI Upper Confi...|Worse than the Na...|   4.8570|   2013-10-01| 2014-09-30|
|     010001|HAI_2_DOPC_DAYS|CAUTI Urinary Cat...|Worse than the Na...|7450.0000|   2013-10-01| 2014-09-30|
|     010001|HAI_2_ELIGCASES|CAUTI Predicted C...|Worse than the Na...|   8.9490|   2013-10-01| 2014-09-30|
|     010001|HAI_2_NUMERATOR|CAUTI Observed Cases|Worse than the Na...|  31.0000|   2013-10-01| 2014-09-30|
|     010001|      HAI_2_SIR|Catheter-Associat...|Worse than the Na...|   3.4640|   2013-10-01| 2014-09-30|
|     010001| HAI_3_CI_LOWER|SSI: Colon Lower ...|No Different than...|   0.2170|   2013-10-01| 2014-09-30|
|     010001| HAI_3_CI_UPPER|SSI: Colon Upper ...|No Different than...|   1.6440|   2013-10-01| 2014-09-30|
|     010001|HAI_3_DOPC_DAYS|SSI: Colon, Numbe...|No Different than...| 171.0000|   2013-10-01| 2014-09-30|
|     010001|HAI_3_ELIGCASES|SSI: Colon Predic...|No Different than...|   5.8680|   2013-10-01| 2014-09-30|
|     010001|HAI_3_NUMERATOR|SSI: Colon Observ...|No Different than...|   4.0000|   2013-10-01| 2014-09-30|
|     010001|      HAI_3_SIR|Surgical Site Inf...|No Different than...|   0.6820|   2013-10-01| 2014-09-30|
|     010001| HAI_4_CI_LOWER|SSI: Abdominal Lo...|       Not Available|     null|   2013-10-01| 2014-09-30|
|     010001| HAI_4_CI_UPPER|SSI: Abdominal Up...|       Not Available|     null|   2013-10-01| 2014-09-30|
+-----------+---------------+--------------------+--------------------+---------+-------------+-----------+
only showing top 20 rows

In [54]:
sql = """
DROP TABLE my_readmissions
"""
sqlContext.sql(sql)


sql = """
CREATE TABLE my_readmissions AS 
SELECT 
provider_id, measure_id,
measure_name, compared_to_national,
cast(score as DECIMAL(16,4)) score,
cast(to_date(from_unixtime(unix_timestamp(measure_start_date, 'MM/dd/yy'))) as date) measure_start,
cast(to_date(from_unixtime(unix_timestamp(measure_end_date, 'MM/dd/yy'))) as date) measure_end
FROM readmissions
"""
sqlContext.sql(sql)

DataFrame[]

In [55]:
sqlContext.sql("describe my_readmissions").show()

+--------------------+-------------+-------+
|            col_name|    data_type|comment|
+--------------------+-------------+-------+
|         provider_id|       string|   null|
|          measure_id|       string|   null|
|        measure_name|       string|   null|
|compared_to_national|       string|   null|
|               score|decimal(16,4)|   null|
|       measure_start|         date|   null|
|         measure_end|         date|   null|
+--------------------+-------------+-------+

In [56]:
sqlContext.sql("select * from my_readmissions").show()

+-----------+------------------+--------------------+--------------------+-------+-------------+-----------+
|provider_id|        measure_id|        measure_name|compared_to_national|  score|measure_start|measure_end|
+-----------+------------------+--------------------+--------------------+-------+-------------+-----------+
|     010001|       MORT_30_AMI|Acute Myocardial ...|No different than...|12.2000|   2011-07-01| 2014-06-30|
|     010001|      MORT_30_CABG| Death rate for CABG|No different than...| 3.7000|   2011-07-01| 2014-06-30|
|     010001|      MORT_30_COPD|Death rate for ch...|No different than...| 8.8000|   2011-07-01| 2014-06-30|
|     010001|        MORT_30_HF|Heart failure (HF...|No different than...|12.6000|   2011-07-01| 2014-06-30|
|     010001|        MORT_30_PN|Pneumonia (PN) 30...|No different than...|11.6000|   2011-07-01| 2014-06-30|
|     010001|       MORT_30_STK|Death rate for st...|No different than...|15.3000|   2011-07-01| 2014-06-30|
|     010001|      READM_30_AMI|Acute Myocardial ...|No different than...|17.4000|   2011-07-01| 2014-06-30|
|     010001|     READM_30_CABG|Rate of unplanned...|No different than...|15.9000|   2011-07-01| 2014-06-30|
|     010001|     READM_30_COPD|Rate of unplanned...|No different than...|22.0000|   2011-07-01| 2014-06-30|
|     010001|       READM_30_HF|Heart failure (HF...|No different than...|21.0000|   2011-07-01| 2014-06-30|
|     010001| READM_30_HIP_KNEE|Rate of readmissi...|No different than...| 5.2000|   2011-07-01| 2014-06-30|
|     010001|READM_30_HOSP_WIDE|Rate of readmissi...|No different than...|14.8000|   2013-07-01| 2014-06-30|
|     010001|       READM_30_PN|Pneumonia (PN) 30...|No different than...|18.2000|   2011-07-01| 2014-06-30|
|     010001|      READM_30_STK|Rate of unplanned...|No different than...|13.0000|   2011-07-01| 2014-06-30|
|     010005|       MORT_30_AMI|Acute Myocardial ...|No different than...|16.9000|   2011-07-01| 2014-06-30|
|     010005|      MORT_30_CABG| Death rate for CABG|       Not Available|   null|   2011-07-01| 2014-06-30|
|     010005|      MORT_30_COPD|Death rate for ch...|No different than...| 7.5000|   2011-07-01| 2014-06-30|
|     010005|        MORT_30_HF|Heart failure (HF...|Worse than the Na...|16.3000|   2011-07-01| 2014-06-30|
|     010005|        MORT_30_PN|Pneumonia (PN) 30...|Worse than the Na...|13.9000|   2011-07-01| 2014-06-30|
|     010005|       MORT_30_STK|Death rate for st...|No different than...|14.8000|   2011-07-01| 2014-06-30|
+-----------+------------------+--------------------+--------------------+-------+-------------+-----------+
only showing top 20 rows

In [57]:
sql = """
DROP TABLE my_complications
"""
sqlContext.sql(sql)


sql = """
CREATE TABLE my_complications AS 
SELECT 
provider_id, measure_id,
measure_name, compared_to_national,
cast(score as DECIMAL(16,4)) score,
cast(to_date(from_unixtime(unix_timestamp(measure_start_date, 'MM/dd/yy'))) as date) measure_start,
cast(to_date(from_unixtime(unix_timestamp(measure_end_date, 'MM/dd/yy'))) as date) measure_end
FROM complications
"""
sqlContext.sql(sql)

DataFrame[]

In [59]:
sqlContext.sql("describe my_complications").show()

+--------------------+-------------+-------+
|            col_name|    data_type|comment|
+--------------------+-------------+-------+
|         provider_id|       string|   null|
|          measure_id|       string|   null|
|        measure_name|       string|   null|
|compared_to_national|       string|   null|
|               score|decimal(16,4)|   null|
|       measure_start|         date|   null|
|         measure_end|         date|   null|
+--------------------+-------------+-------+

In [60]:
sqlContext.sql("select * from my_complications").show()

+-----------+--------------------+--------------------+--------------------+--------+-------------+-----------+
|provider_id|          measure_id|        measure_name|compared_to_national|   score|measure_start|measure_end|
+-----------+--------------------+--------------------+--------------------+--------+-------------+-----------+
|     010001|       COMP_HIP_KNEE|Rate of complicat...|No different than...|  3.9000|   2011-04-01| 2014-03-31|
|     010001|PSI_12_POSTOP_PUL...|Serious blood clo...|Better than the N...|  2.1600|   2012-07-01| 2014-06-30|
|     010001| PSI_14_POSTOP_DEHIS|A wound that spli...|No different than...|  1.6700|   2012-07-01| 2014-06-30|
|     010001|      PSI_15_ACC_LAC|Accidental cuts a...|No different than...|  1.5200|   2012-07-01| 2014-06-30|
|     010001|     PSI_4_SURG_COMP|Deaths among Pati...|No different than...|138.3000|   2012-07-01| 2014-06-30|
|     010001|       PSI_6_IAT_PTX|Collapsed lung du...|No different than...|  0.3100|   2012-07-01| 2014-06-30|
|     010001|       PSI_90_SAFETY|Serious complicat...|Better than the N...|  0.5700|   2012-07-01| 2014-06-30|
|     010005|       COMP_HIP_KNEE|Rate of complicat...|No different than...|  2.8000|   2011-04-01| 2014-03-31|
|     010005|PSI_12_POSTOP_PUL...|Serious blood clo...|No different than...|  3.7000|   2012-07-01| 2014-06-30|
|     010005| PSI_14_POSTOP_DEHIS|A wound that spli...|No different than...|  2.4200|   2012-07-01| 2014-06-30|
|     010005|      PSI_15_ACC_LAC|Accidental cuts a...|No different than...|  1.3500|   2012-07-01| 2014-06-30|
|     010005|     PSI_4_SURG_COMP|Deaths among Pati...|No different than...|141.4200|   2012-07-01| 2014-06-30|
|     010005|       PSI_6_IAT_PTX|Collapsed lung du...|No different than...|  0.3800|   2012-07-01| 2014-06-30|
|     010005|       PSI_90_SAFETY|Serious complicat...|No different than...|  0.6800|   2012-07-01| 2014-06-30|
|     010006|       COMP_HIP_KNEE|Rate of complicat...|No different than...|  3.0000|   2011-04-01| 2014-03-31|
|     010006|PSI_12_POSTOP_PUL...|Serious blood clo...|No different than...|  3.0600|   2012-07-01| 2014-06-30|
|     010006| PSI_14_POSTOP_DEHIS|A wound that spli...|No different than...|  1.4100|   2012-07-01| 2014-06-30|
|     010006|      PSI_15_ACC_LAC|Accidental cuts a...|No different than...|  2.0700|   2012-07-01| 2014-06-30|
|     010006|     PSI_4_SURG_COMP|Deaths among Pati...|Worse than the Na...|168.4200|   2012-07-01| 2014-06-30|
|     010006|       PSI_6_IAT_PTX|Collapsed lung du...|No different than...|  0.3600|   2012-07-01| 2014-06-30|
+-----------+--------------------+--------------------+--------------------+--------+-------------+-----------+
only showing top 20 rows

In [61]:
sqlContext.sql("show tables").show()

+-----------------+-----------+
|        tableName|isTemporary|
+-----------------+-----------+
|    complications|      false|
|   effective_care|      false|
|              foo|      false|
|        hospitals|      false|
|  hospital_survey|      false|
|       infections|      false|
|         measures|      false|
|          my_care|      false|
| my_complications|      false|
|     my_hospitals|      false|
|    my_infections|      false|
|  my_readmissions|      false|
|   my_star_rating|      false|
| my_survey_scores|      false|
|     readmissions|      false|
|         stadiums|      false|
|surveys_responses|      false|
|        user_info|      false|
|     weblogs_flat|      false|
|  weblogs_parquet|      false|
+-----------------+-----------+
only showing top 20 rows

In [29]:
df = sqlContext.sql("show tables")
df.registerTempTable('temp_tables')
query = """SELECT * FROM temp_tables WHERE tableName LIKE '%my%'"""
sqlContext.sql(query).show()

+----------------+-----------+
|       tableName|isTemporary|
+----------------+-----------+
|       my_tables|       true|
|         my_care|      false|
|my_complications|      false|
|    my_hospitals|      false|
|   my_infections|      false|
| my_readmissions|      false|
| my_star_ratings|      false|
|my_survey_scores|      false|
+----------------+-----------+

In [28]:
sqlContext.sql("show tables").show()

+-----------------+-----------+
|        tableName|isTemporary|
+-----------------+-----------+
|        my_tables|       true|
|    complications|      false|
|   effective_care|      false|
|              foo|      false|
|        hospitals|      false|
|  hospital_survey|      false|
|       infections|      false|
|         measures|      false|
|          my_care|      false|
| my_complications|      false|
|     my_hospitals|      false|
|    my_infections|      false|
|  my_readmissions|      false|
|  my_star_ratings|      false|
| my_survey_scores|      false|
|     readmissions|      false|
|         stadiums|      false|
|surveys_responses|      false|
|        user_info|      false|
|     weblogs_flat|      false|
+-----------------+-----------+
only showing top 20 rows

## Transforming data frames

In [19]:
from pyspark.sql import functions as func

# ignore the values that are not rates
sql = """
select provider_id, measure_name,
measure_id, score
from my_care 
where measure_id != 'ED_1b' AND measure_id != 'ED_2b' 
AND measure_id != 'EDV' AND measure_id != 'OP_1'
AND measure_id != 'OP_18b' AND measure_id != 'OP_20' AND measure_id != 'OP_21' 
AND measure_id != 'OP_3b' AND measure_id != 'OP_5'
"""
care_df = sqlContext.sql(sql)
care_df.count()

179164

In [3]:
# add new column for transformed score
care_df = care_df.withColumn('new_score', care_df.score)

# convert measure_id = 'OP_22' OR measure_id = 'PC_01' OR measure_id = 'VTE_6' to 100 - new_score
care_df = care_df.withColumn('new_score', 
                         func.when(care_df.measure_id == 'OP_22', 100 - care_df.new_score). \
                         otherwise(care_df.new_score))
care_df = care_df.withColumn('new_score', 
                             func.when(care_df.measure_id == 'PC_01', 100 - care_df.new_score). \
                             otherwise(care_df.new_score))
care_df = care_df.withColumn('new_score', 
                             func.when(care_df.measure_id == 'VTE_6', 100 - care_df.new_score).
                             otherwise(care_df.new_score))
care_df.count()
care_df.show()

+-----------+--------------------+----------------+-----+---------+
|provider_id|        measure_name|      measure_id|score|new_score|
+-----------+--------------------+----------------+-----+---------+
|     010001| Statin at Discharge|          AMI_10|   98|       98|
|     010001|Aspirin prescribe...|           AMI_2|   99|       99|
|     010001|Fibrinolytic Ther...|          AMI_7a| null|     null|
|     010001|Primary PCI Recei...|          AMI_8a|   91|       91|
|     010001|Emergency departm...|             EDV| null|     null|
|     010001|Discharge instruc...|            HF_1|   91|       91|
|     010001|Evaluation of LVS...|            HF_2|  100|      100|
|     010001|ACEI or ARB for LVSD|            HF_3|   98|       98|
|     010001|Immunization for ...|           IMM_2|   94|       94|
|     010001|Healthcare worker...|IMM_3_FAC_ADHPCT|   56|       56|
|     010001|Fibrinolytic Ther...|            OP_2| null|     null|
|     010001|Left before being...|           OP_22|    4|       96|
|     010001|     Head CT results|           OP_23| null|     null|
|     010001|  Aspirin at Arrival|            OP_4| null|     null|
|     010001|Prophylactic Anti...|            OP_6|  100|      100|
|     010001|Prophylactic Anti...|            OP_7|  100|      100|
|     010001|Percent of newbor...|           PC_01|    0|      100|
|     010001|Initial antibioti...|            PN_6|   99|       99|
|     010001|Surgery Patients ...|     SCIP_CARD_2|   97|       97|
|     010001|Prophylactic anti...|      SCIP_INF_1|   99|       99|
+-----------+--------------------+----------------+-----+---------+
only showing top 20 rows

In [4]:
care_df[care_df.measure_id == 'VTE_6'].show()

+-----------+--------------------+----------+-----+---------+
|provider_id|        measure_name|measure_id|score|new_score|
+-----------+--------------------+----------+-----+---------+
|     010001|Incidence of pote...|     VTE_6|    0|      100|
|     010005|Incidence of pote...|     VTE_6|   29|       71|
|     010006|Incidence of pote...|     VTE_6|    8|       92|
|     010007|Incidence of pote...|     VTE_6| null|     null|
|     010008|Incidence of pote...|     VTE_6| null|     null|
|     010011|Incidence of pote...|     VTE_6|   19|       81|
|     010012|Incidence of pote...|     VTE_6| null|     null|
|     010016|Incidence of pote...|     VTE_6|    0|      100|
|     010018|Incidence of pote...|     VTE_6| null|     null|
|     010019|Incidence of pote...|     VTE_6| null|     null|
|     010021|Incidence of pote...|     VTE_6| null|     null|
|     010022|Incidence of pote...|     VTE_6| null|     null|
|     010023|Incidence of pote...|     VTE_6|    0|      100|
|     010024|Incidence of pote...|     VTE_6|   12|       88|
|     010029|Incidence of pote...|     VTE_6|   19|       81|
|     010032|Incidence of pote...|     VTE_6| null|     null|
|     010033|Incidence of pote...|     VTE_6|   10|       90|
|     010034|Incidence of pote...|     VTE_6| null|     null|
|     010035|Incidence of pote...|     VTE_6| null|     null|
|     010036|Incidence of pote...|     VTE_6| null|     null|
+-----------+--------------------+----------+-----+---------+
only showing top 20 rows

In [5]:
# select data from readmissions and deaths
sql = """
select provider_id, measure_name,
measure_id, score
from my_readmissions
"""
read_df = sqlContext.sql(sql)
print(read_df.count())

# convert scores to new_score so that higher is better
read_df = read_df.withColumn('new_score', read_df.score)
read_df = read_df.withColumn('new_score', 100 - read_df.new_score)
read_df.show()

66990
+-----------+--------------------+------------------+-------+---------+
|provider_id|        measure_name|        measure_id|  score|new_score|
+-----------+--------------------+------------------+-------+---------+
|     010001|Acute Myocardial ...|       MORT_30_AMI|12.2000|  87.8000|
|     010001| Death rate for CABG|      MORT_30_CABG| 3.7000|  96.3000|
|     010001|Death rate for ch...|      MORT_30_COPD| 8.8000|  91.2000|
|     010001|Heart failure (HF...|        MORT_30_HF|12.6000|  87.4000|
|     010001|Pneumonia (PN) 30...|        MORT_30_PN|11.6000|  88.4000|
|     010001|Death rate for st...|       MORT_30_STK|15.3000|  84.7000|
|     010001|Acute Myocardial ...|      READM_30_AMI|17.4000|  82.6000|
|     010001|Rate of unplanned...|     READM_30_CABG|15.9000|  84.1000|
|     010001|Rate of unplanned...|     READM_30_COPD|22.0000|  78.0000|
|     010001|Heart failure (HF...|       READM_30_HF|21.0000|  79.0000|
|     010001|Rate of readmissi...| READM_30_HIP_KNEE| 5.2000|  94.8000|
|     010001|Rate of readmissi...|READM_30_HOSP_WIDE|14.8000|  85.2000|
|     010001|Pneumonia (PN) 30...|       READM_30_PN|18.2000|  81.8000|
|     010001|Rate of unplanned...|      READM_30_STK|13.0000|  87.0000|
|     010005|Acute Myocardial ...|       MORT_30_AMI|16.9000|  83.1000|
|     010005| Death rate for CABG|      MORT_30_CABG|   null|     null|
|     010005|Death rate for ch...|      MORT_30_COPD| 7.5000|  92.5000|
|     010005|Heart failure (HF...|        MORT_30_HF|16.3000|  83.7000|
|     010005|Pneumonia (PN) 30...|        MORT_30_PN|13.9000|  86.1000|
|     010005|Death rate for st...|       MORT_30_STK|14.8000|  85.2000|
+-----------+--------------------+------------------+-------+---------+
only showing top 20 rows

In [6]:
# select data from complications (measure_id != PSI_4_SURG_COMP)
sql = """
select provider_id, measure_name,
measure_id, score
from my_complications
where measure_id != 'PSI_4_SURG_COMP'
"""
comp_df = sqlContext.sql(sql)
print(comp_df.count())

# convert scores to new_score so that higher is better
comp_df = comp_df.withColumn('new_score', comp_df.score)
comp_df = comp_df.withColumn('new_score', 100 - comp_df.new_score)
comp_df.sort('score', ascending=False).show()

28065
+-----------+--------------------+--------------------+-------+---------+
|provider_id|        measure_name|          measure_id|  score|new_score|
+-----------+--------------------+--------------------+-------+---------+
|     140010|Serious blood clo...|PSI_12_POSTOP_PUL...|15.2000|  84.8000|
|     370093|Serious blood clo...|PSI_12_POSTOP_PUL...|14.6700|  85.3300|
|     330160|Serious blood clo...|PSI_12_POSTOP_PUL...|13.9900|  86.0100|
|     170027|Serious blood clo...|PSI_12_POSTOP_PUL...|13.7400|  86.2600|
|     310076|Serious blood clo...|PSI_12_POSTOP_PUL...|12.5400|  87.4600|
|     110083|Serious blood clo...|PSI_12_POSTOP_PUL...|12.1700|  87.8300|
|     140150|Serious blood clo...|PSI_12_POSTOP_PUL...|12.1100|  87.8900|
|     260105|Serious blood clo...|PSI_12_POSTOP_PUL...|11.9200|  88.0800|
|     260032|Serious blood clo...|PSI_12_POSTOP_PUL...|11.7300|  88.2700|
|     110161|Serious blood clo...|PSI_12_POSTOP_PUL...|11.3700|  88.6300|
|     390110|Serious blood clo...|PSI_12_POSTOP_PUL...|11.1800|  88.8200|
|     450289|Serious blood clo...|PSI_12_POSTOP_PUL...|10.9900|  89.0100|
|     330127|Serious blood clo...|PSI_12_POSTOP_PUL...|10.8400|  89.1600|
|     100067|Serious blood clo...|PSI_12_POSTOP_PUL...|10.7000|  89.3000|
|     300011|Serious blood clo...|PSI_12_POSTOP_PUL...|10.6700|  89.3300|
|     450730|Serious blood clo...|PSI_12_POSTOP_PUL...|10.5900|  89.4100|
|     390321|Serious blood clo...|PSI_12_POSTOP_PUL...|10.5300|  89.4700|
|     140281|Serious blood clo...|PSI_12_POSTOP_PUL...|10.3900|  89.6100|
|     230053|Serious blood clo...|PSI_12_POSTOP_PUL...|10.3800|  89.6200|
|     170182|Serious blood clo...|PSI_12_POSTOP_PUL...|10.3400|  89.6600|
+-----------+--------------------+--------------------+-------+---------+
only showing top 20 rows

In [7]:
# select data from infections only use Standardized Infections Ratios (SIR) for calculations
sql = """
select provider_id, measure_name,
measure_id, score
from my_infections
where measure_id like '%SIR%'
"""
infect_df = sqlContext.sql(sql)
print(infect_df.count())

# convert scores to new_score so that higher is better
infect_df = infect_df.withColumn('new_score', infect_df.score)
infect_df = infect_df.withColumn('new_score', 100 - infect_df.new_score)
infect_df.sort('score', ascending=False).show()

27936
+-----------+--------------------+----------+------+---------+
|provider_id|        measure_name|measure_id| score|new_score|
+-----------+--------------------+----------+------+---------+
|     100181|Methicillin-resis...| HAI_5_SIR|9.9890|  90.0110|
|     390270|Surgical Site Inf...| HAI_4_SIR|8.2870|  91.7130|
|     330233|Methicillin-resis...| HAI_5_SIR|7.3070|  92.6930|
|     230297|Methicillin-resis...| HAI_5_SIR|7.0380|  92.9620|
|     050008|Catheter-Associat...| HAI_2_SIR|6.7800|  93.2200|
|     480001|Catheter-Associat...| HAI_2_SIR|5.9170|  94.0830|
|     430012|Surgical Site Inf...| HAI_3_SIR|5.6540|  94.3460|
|     140095|Central line-asso...| HAI_1_SIR|5.6040|  94.3960|
|     110128|Catheter-Associat...| HAI_2_SIR|5.3480|  94.6520|
|     190005|Surgical Site Inf...| HAI_4_SIR|5.2360|  94.7640|
|     450039|Surgical Site Inf...| HAI_4_SIR|5.1280|  94.8720|
|     160047|Surgical Site Inf...| HAI_3_SIR|4.8660|  95.1340|
|     050425|Catheter-Associat...| HAI_2_SIR|4.8120|  95.1880|
|     380056|Clostridium diffi...| HAI_6_SIR|4.7990|  95.2010|
|     040088|Surgical Site Inf...| HAI_3_SIR|4.7790|  95.2210|
|     230141|Surgical Site Inf...| HAI_4_SIR|4.6080|  95.3920|
|     180011|Methicillin-resis...| HAI_5_SIR|4.5780|  95.4220|
|     180048|Catheter-Associat...| HAI_2_SIR|4.5080|  95.4920|
|     050663|Methicillin-resis...| HAI_5_SIR|4.5070|  95.4930|
|     370094|Methicillin-resis...| HAI_5_SIR|4.4880|  95.5120|
+-----------+--------------------+----------+------+---------+
only showing top 20 rows

In [8]:
# combine the all the tables
combined_df = care_df.unionAll(read_df).unionAll(comp_df).unionAll(infect_df)
combined_df.count()

306834

In [9]:
# convert null values to 0s
combined_df = combined_df.fillna({'new_score': 0})

In [10]:
# group by hospital, avg new_scores and sum new_scores
#combined_df.groupBy('provider_id') \
#    .agg(func.avg('new_score').alias('avg_score'),
#         func.sum('new_score').alias('sum_score')) \
#    .sort('avg_score', ascending=False).show()

In [21]:
from pyspark.sql import DataFrameWriter

#combined_df.registerTempTable('temp_care')
sqlContext.sql('DROP TABLE IF EXISTS my_combined_procedures')
df_writer = DataFrameWriter(combined_df)
df_writer.saveAsTable('my_combined_procedures')

In [22]:
sqlContext.sql("describe my_combined_procedures").show()

+------------+-------------+-------+
|    col_name|    data_type|comment|
+------------+-------------+-------+
| provider_id|       string|       |
|measure_name|       string|       |
|  measure_id|       string|       |
|       score|decimal(16,4)|       |
|   new_score|decimal(17,4)|       |
+------------+-------------+-------+

In [11]:
sqlContext.sql("select * from my_combined_procedures order by score DESC").show()

+-----------+--------------------+-----------+--------+---------+
|provider_id|        measure_name| measure_id|   score|new_score|
+-----------+--------------------+-----------+--------+---------+
|     010005|Prophylactic anti...| SCIP_INF_1|100.0000| 100.0000|
|     010006|Primary PCI Recei...|     AMI_8a|100.0000| 100.0000|
|     010005|Surgery Patients ...|SCIP_INF_10|100.0000| 100.0000|
|     010001|Prophylactic Anti...|       OP_6|100.0000| 100.0000|
|     010005|Prophylactic anti...| SCIP_INF_3|100.0000| 100.0000|
|     010001|Surgery Patients ...|SCIP_INF_10|100.0000| 100.0000|
|     010005|Surgery Patients ...| SCIP_VTE_2|100.0000| 100.0000|
|     010001|Surgery Patients ...| SCIP_VTE_2|100.0000| 100.0000|
|     010005|Assessed for Reha...|     STK_10|100.0000| 100.0000|
|     010001|Discharged on Ant...|      STK_2|100.0000| 100.0000|
|     010005|Anticoagulation T...|      STK_3|100.0000| 100.0000|
|     010005|Aspirin prescribe...|      AMI_2|100.0000| 100.0000|
|     010005|Anticoagulation o...|      VTE_3|100.0000| 100.0000|
|     010005|Prophylactic Anti...|       OP_6|100.0000| 100.0000|
|     010005|Unfractionated he...|      VTE_4|100.0000| 100.0000|
|     010001|Prophylactic Anti...|       OP_7|100.0000| 100.0000|
|     010005|Warfarin therapy ...|      VTE_5|100.0000| 100.0000|
|     010001|Assessed for Reha...|     STK_10|100.0000| 100.0000|
|     010006| Statin at Discharge|     AMI_10|100.0000| 100.0000|
|     010006|Discharge instruc...|       HF_1|100.0000| 100.0000|
+-----------+--------------------+-----------+--------+---------+
only showing top 20 rows

## Investigating data

In [1]:
# What hospitals are models of high-quality care? 
# That is, which hospitals have the most consistently 
# high scores for a variety of procedures.
sql = """
SELECT p.provider_id, avg(new_score) AS avg_score, 
sum(new_score) AS sum_score,
stddev(new_score) AS std_dev,
name, city, state
FROM my_combined_procedures p INNER JOIN my_hospitals h 
ON p.provider_id = h.provider_id
GROUP BY p.provider_id, name, city, state
ORDER BY avg_score DESC 
LIMIT 10
"""
combined_scores_df = sqlContext.sql(sql)
combined_scores_df.show()

+-----------+-----------+---------+------------------+--------------------+------------------+-----+
|provider_id|  avg_score|sum_score|           std_dev|                name|              city|state|
+-----------+-----------+---------+------------------+--------------------+------------------+-----+
|     450388|91.52250000|6223.5300|20.674949430551997|  METHODIST HOSPITAL|       SAN ANTONIO|   TX|
|     030036|91.03030769|5916.9700|20.819494137742137|CHANDLER REGIONAL...|          CHANDLER|   AZ|
|     450723|90.92936923|5910.4090| 21.15249602770628|METHODIST CHARLTO...|            DALLAS|   TX|
|     050231|90.69501538|5895.1760|20.944048846311606|POMONA VALLEY HOS...|            POMONA|   CA|
|     050308|90.65812308|5892.7780|21.745274866761424|  EL CAMINO HOSPITAL|     MOUNTAIN VIEW|   CA|
|     260065|90.60870769|5889.5660| 20.79683189165938|MERCY HOSPITAL SP...|       SPRINGFIELD|   MO|
|     050570|90.52480000|5884.1120|20.972100787768213|FOUNTAIN VALLEY R...|   FOUNTAIN VALLEY|   CA|
|     050077|90.45890769|5879.8290|20.850556153234173|SCRIPPS MERCY HOS...|         SAN DIEGO|   CA|
|     340091|90.37229231|5874.1990| 21.38327465799314|MOSES H CONE MEMO...|        GREENSBORO|   NC|
|     360155|90.36926154|5874.0020|20.984063972656028|SOUTHWEST GENERAL...|MIDDLEBURG HEIGHTS|   OH|
+-----------+-----------+---------+------------------+--------------------+------------------+-----+

In [7]:
#sqlContext.sql("SELECT * FROM my_combined_procedures where provider_id = '450388'").show(n=450388)

In [2]:
# What states are models of high-quality care?
sql = """
SELECT state, avg(new_score) AS avg_score, 
sum(new_score) AS sum_score,
stddev(new_score) AS std_dev
FROM my_combined_procedures p INNER JOIN my_hospitals h 
ON p.provider_id = h.provider_id
GROUP BY state
ORDER BY avg_score DESC
LIMIT 10
"""
sqlContext.sql(sql).show()

+-----+-----------+-----------+------------------+
|state|  avg_score|  sum_score|           std_dev|
+-----+-----------+-----------+------------------+
|   NJ|80.15610979|335854.1000| 34.34272507148263|
|   DE|80.06332134| 33386.4050|  34.5022909362375|
|   CT|73.83223116|145966.3210| 39.39658237877556|
|   FL|73.29968334|868747.8470|39.963980232390426|
|   RI|73.28125202| 54374.6890| 39.28783979441244|
|   MA|69.39629851|283622.6720| 42.01992836228163|
|   DC|68.26902377| 37343.1560|41.568317499529215|
|   VA|67.73025287|366420.6680| 43.05391064562357|
|   NY|66.36262537|747707.7000|42.962226859583474|
|   PA|66.20132765|722124.0820| 43.49033522646684|
+-----+-----------+-----------+------------------+

In [7]:
# looking for old scores with null values to not invluce them in variablity data
sql = """
SELECT * 
FROM my_combined_procedures
WHERE score is not null
LIMIT 10
"""
sqlContext.sql(sql).show()

+-----------+--------------------+-------------+-------+---------+
|provider_id|        measure_name|   measure_id|  score|new_score|
+-----------+--------------------+-------------+-------+---------+
|     010001|Acute Myocardial ...|  MORT_30_AMI|12.2000|  87.8000|
|     010001| Death rate for CABG| MORT_30_CABG| 3.7000|  96.3000|
|     010001|Death rate for ch...| MORT_30_COPD| 8.8000|  91.2000|
|     010001|Heart failure (HF...|   MORT_30_HF|12.6000|  87.4000|
|     010001|Pneumonia (PN) 30...|   MORT_30_PN|11.6000|  88.4000|
|     010001|Death rate for st...|  MORT_30_STK|15.3000|  84.7000|
|     010001|Acute Myocardial ...| READM_30_AMI|17.4000|  82.6000|
|     010001|Rate of unplanned...|READM_30_CABG|15.9000|  84.1000|
|     010001|Rate of unplanned...|READM_30_COPD|22.0000|  78.0000|
|     010001|Heart failure (HF...|  READM_30_HF|21.0000|  79.0000|
+-----------+--------------------+-------------+-------+---------+

In [9]:
# Which procedures have the greatest variability between hospitals?
sql = """
SELECT measure_id, measure_name, avg(new_score) AS avg_score, 
sum(score) AS sum_score,
stddev(score) AS std_dev
FROM my_combined_procedures
GROUP BY measure_id, measure_name
ORDER BY std_dev DESC
LIMIT 10
"""
sqlContext.sql(sql).show()

+----------------+--------------------+-----------+-----------+------------------+
|      measure_id|        measure_name|  avg_score|  sum_score|           std_dev|
+----------------+--------------------+-----------+-----------+------------------+
|           STK_4|Thrombolytic Therapy|15.56164089| 72455.0000|21.954194561164023|
|           OP_23|     Head CT results|15.56263683| 63978.0000|21.844653491103774|
|          AMI_7a|Fibrinolytic Ther...| 0.03134796|   150.0000|  18.7794213613377|
|            OP_2|Fibrinolytic Ther...| 1.16200438|  4777.0000|18.048443797995763|
|IMM_3_FAC_ADHPCT|Healthcare worker...|80.68061252|295049.0000|16.348047889323595|
|           VTE_5|Warfarin therapy ...|47.11361684|219361.0000| 16.30300466996529|
|           VTE_1|Venous thromboemb...|67.63960481|314930.0000|15.257401142298388|
|           STK_8|    Stroke Education|46.12542955|214760.0000|14.013262732452308|
|           CAC_3|Home Management P...|84.11764706|  8580.0000| 12.71912110433212|
|           IMM_2|Immunization for ...|71.79573043|343040.0000|11.944885922069522|
+----------------+--------------------+-----------+-----------+------------------+

In [10]:
# Are average scores for hospital quality or procedural variability correlated with patient survey responses?
sql = """
SELECT p.provider_id, avg(new_score) AS avg_score, 
sum(new_score) AS sum_score,
stddev(new_score) AS std_dev,
name, city, state,
total_score AS survey_score
FROM my_combined_procedures p INNER JOIN my_survey_scores s 
ON p.provider_id = s.provider_id INNER JOIN my_hospitals h 
ON p.provider_id = h.provider_id
GROUP BY p.provider_id, name, city, state, total_score
"""
cor_df = sqlContext.sql(sql)
cor_df.show()

+-----------+-----------+---------+------------------+--------------------+----------------+-----+------------+
|provider_id|  avg_score|sum_score|           std_dev|                name|            city|state|survey_score|
+-----------+-----------+---------+------------------+--------------------+----------------+-----+------------+
|     110229|80.61803077|5240.1720| 33.58515318042929|PIEDMONT NEWNAN H...|          NEWNAN|   GA|          40|
|     330045|83.30846154|5415.0500|30.749485314555418| HUNTINGTON HOSPITAL|      HUNTINGTON|   NY|          35|
|     360211|84.16970769|5471.0310|28.398505313713567|TRINITY MEDICAL C...|    STEUBENVILLE|   OH|          41|
|     360027|88.30530769|5739.8450| 23.58760456284228|AKRON GENERAL MED...|           AKRON|   OH|          32|
|     100022|84.71827692|5506.6880|26.616133625192127|JACKSON MEMORIAL ...|           MIAMI|   FL|          12|
|     500015|81.26541538|5282.2520| 33.26611564381173|MULTICARE AUBURN ...|          AUBURN|   WA|          10|
|     010044|34.99280000|2274.5320| 45.90125591283298|MARION REGIONAL M...|        HAMILTON|   AL|          92|
|     060031|83.27967692|5413.1790|30.857668470729728|CENTURA HEALTH-PE...|COLORADO SPRINGS|   CO|          34|
|     100087|89.80361538|5837.2350|23.569702965846318|SARASOTA MEMORIAL...|        SARASOTA|   FL|          53|
|     500012|75.77144615|4925.1440| 35.08896894819083|YAKIMA REGIONAL M...|          YAKIMA|   WA|          18|
|     190090|31.46432308|2045.1810| 42.43176694705828|WINN PARISH MEDIC...|       WINNFIELD|   LA|          65|
|     060076|53.18835385|3457.2430| 46.60903591049232|STERLING REGIONAL...|        STERLING|   CO|          69|
|     090006|74.40300000|4836.1950| 36.56523621945598| PROVIDENCE HOSPITAL|      WASHINGTON|   DC|          21|
|     200063|76.00083077|4940.0540| 38.39200750780107|PENOBSCOT BAY MED...|        ROCKPORT|   ME|          30|
|     360082|73.83875385|4799.5190|40.800129832384215|     EUCLID HOSPITAL|          EUCLID|   OH|          58|
|     160104|74.75916923|4859.3460| 38.05504885236617|  TRINITY BETTENDORF|      BETTENDORF|   IA|          39|
|     190278|28.58569231|1858.0700| 43.41480428004433|SPECIALISTS HOSPI...|      SHREVEPORT|   LA|          98|
|     100048|25.72615385|1672.2000|41.759331879871525|        JAY HOSPITAL|             JAY|   FL|          75|
|     410013|62.79632308|4081.7610| 43.76388433790784|   WESTERLY HOSPITAL|        WESTERLY|   RI|          46|
|     190060|82.76870769|5379.9660|29.036243000627323|LAKE CHARLES MEMO...|    LAKE CHARLES|   LA|          57|
+-----------+-----------+---------+------------------+--------------------+----------------+-----+------------+
only showing top 20 rows

In [11]:
#cor_df = combined_scores_df.join(survey_df, on='provider_id', how='inner')
#cor_df.show()

In [12]:
# Are average scores for hospital quality correlated with patient survey scores?
cor_df.stat.corr('avg_score', 'survey_score')

-0.3704824148588302

In [15]:
sql = """
SELECT p.provider_id, avg(new_score) AS avg_score, 
sum(new_score) AS sum_score,
stddev(new_score) AS std_dev,
name, city, state,
total_score AS survey_score
FROM my_combined_procedures p INNER JOIN my_survey_scores s 
ON p.provider_id = s.provider_id INNER JOIN my_hospitals h 
ON p.provider_id = h.provider_id
WHERE score IS NOT NULL
GROUP BY p.provider_id, name, city, state, total_score
"""
cor_df = sqlContext.sql(sql)
cor_df.show()

+-----------+-----------+---------+------------------+--------------------+----------------+-----+------------+
|provider_id|  avg_score|sum_score|           std_dev|                name|            city|state|survey_score|
+-----------+-----------+---------+------------------+--------------------+----------------+-----+------------+
|     110229|91.93284211|5240.1720|15.686627376487069|PIEDMONT NEWNAN H...|          NEWNAN|   GA|          40|
|     330045|93.36293103|5415.0500|10.996903966904174| HUNTINGTON HOSPITAL|      HUNTINGTON|   NY|          35|
|     360211|92.72933898|5471.0310| 9.734504090352544|TRINITY MEDICAL C...|    STEUBENVILLE|   OH|          41|
|     360027|94.09581967|5739.8450| 6.927895087581148|AKRON GENERAL MED...|           AKRON|   OH|          32|
|     100022|91.77813333|5506.6880|10.932200463869217|JACKSON MEMORIAL ...|           MIAMI|   FL|          12|
|     500015|94.32592857|5282.2520| 7.248543387805438|MULTICARE AUBURN ...|          AUBURN|   WA|          10|
|     010044|94.77216667|2274.5320| 6.390297695638984|MARION REGIONAL M...|        HAMILTON|   AL|          92|
|     060031|93.33067241|5413.1790|11.360004708577113|CENTURA HEALTH-PE...|COLORADO SPRINGS|   CO|          34|
|     100087|95.69237705|5837.2350| 5.333812139530334|SARASOTA MEMORIAL...|        SARASOTA|   FL|          53|
|     500012|91.20637037|4925.1440|  8.61856182102477|YAKIMA REGIONAL M...|          YAKIMA|   WA|          18|
|     190090|85.21587500|2045.1810| 17.19727727072055|WINN PARISH MEDIC...|       WINNFIELD|   LA|          65|
|     060076|93.43900000|3457.2430| 7.443263219270926|STERLING REGIONAL...|        STERLING|   CO|          69|
|     090006|91.24896226|4836.1950|10.127222806483566| PROVIDENCE HOSPITAL|      WASHINGTON|   DC|          21|
|     200063|95.00103846|4940.0540| 6.115009308633519|PENOBSCOT BAY MED...|        ROCKPORT|   ME|          30|
|     360082|95.99038000|4799.5190| 6.140257365583309|     EUCLID HOSPITAL|          EUCLID|   OH|          58|
|     160104|93.44896154|4859.3460| 7.980710897006457|  TRINITY BETTENDORF|      BETTENDORF|   IA|          39|
|     190278|92.90350000|1858.0700|12.263667997381534|SPECIALISTS HOSPI...|      SHREVEPORT|   LA|          98|
|     100048|92.90000000|1672.2000| 7.533670346443951|        JAY HOSPITAL|             JAY|   FL|          75|
|     410013|92.76729545|4081.7610| 7.004375287112092|   WESTERLY HOSPITAL|        WESTERLY|   RI|          46|
|     190060|91.18586441|5379.9660| 12.70106398380063|LAKE CHARLES MEMO...|    LAKE CHARLES|   LA|          57|
+-----------+-----------+---------+------------------+--------------------+----------------+-----+------------+
only showing top 20 rows

In [16]:
# Are scores for hospital procedural variability correlated with patient survey responses?
cor_df.stat.corr('std_dev', 'survey_score')

-0.07909666022949184

In [20]:
# Is procedural variability correlated with patient survey responses?
sql = """
SELECT measure_id, measure_name, avg(new_score) AS avg_score, 
sum(new_score) AS sum_score,
stddev(new_score) AS std_dev,
avg(total_score) AS avg_survey_score
FROM my_combined_procedures p INNER JOIN my_survey_scores s
ON p.provider_id = s.provider_id
GROUP BY measure_id, measure_name
"""
score_df = sqlContext.sql(sql)

In [21]:
score_df.stat.corr('std_dev', 'avg_survey_score')

0.052372713236259236

In [29]:
# Is procedural variability correlated with patient survey responses?
# Look at procedure variablity for each hospital

sql = """
SELECT p.provider_id, name, city, state,
avg(new_score) AS avg_score, 
sum(new_score) AS sum_score,
stddev(new_score) AS std_dev,
total_score AS survey_score
FROM my_combined_procedures p INNER JOIN my_survey_scores s
ON p.provider_id = s.provider_id INNER JOIN my_hospitals h
ON p.provider_id = h.provider_id
GROUP BY p.provider_id, name, city, state, total_score
ORDER BY std_dev DESC
"""
df = sqlContext.sql(sql)
df.show()

+-----------+--------------------+-------------------+-----+-----------+---------+------------------+------------+
|provider_id|                name|               city|state|  avg_score|sum_score|           std_dev|survey_score|
+-----------+--------------------+-------------------+-----+-----------+---------+------------------+------------+
|     490143|RIVERSIDE DOCTORS...|       WILLIAMSBURG|   VA|49.72800000|3232.3200|49.080679394708405|          62|
|     450766|UT SOUTHWESTERN U...|             DALLAS|   TX|46.76441538|3039.6870| 49.05240542518466|          81|
|     450851|BAYLOR HEART AND ...|             DALLAS|   TX|46.39875385|3015.9190|48.731317581527755|          84|
|     240006|OLMSTED MEDICAL C...|          ROCHESTER|   MN|44.90315385|2918.7050|48.589780704376594|          65|
|     060049|YAMPA VALLEY MEDI...|  STEAMBOAT SPRINGS|   CO|46.09643077|2996.2680| 48.42102750410094|          83|
|     460057|PARK CITY MEDICAL...|          PARK CITY|   UT|42.04540000|2732.9510|48.405198199176276|          80|
|     670006|THE HOSPITAL AT W...|             AUSTIN|   TX|45.88953846|2982.8200| 48.25759040912295|          54|
|     380103|KAISER FOUNDATION...|          HILLSBORO|   OR|56.05155932|3307.0420|48.251101274960355|          70|
|     370228|BAILEY MEDICAL CE...|             OWASSO|   OK|47.22815385|3069.8300| 48.15344981306541|          90|
|     420037|GHS-HILLCREST MEM...|       SIMPSONVILLE|   SC|50.19303077|3262.5470| 48.11818863716849|          68|
|     460017|BRIGHAM CITY COMM...|       BRIGHAM CITY|   UT|43.09830769|2801.3900|48.115841324524965|          23|
|     150057|FRANCISCAN ST FRA...|        MOORESVILLE|   IN|50.14960000|3259.7240|48.091290765920476|          75|
|     260050|ST FRANCIS HOSPIT...|          MARYVILLE|   MO|45.74323077|2973.3100|48.088796811657694|          69|
|     190201|LAKE AREA MEDICAL...|       LAKE CHARLES|   LA|48.56844615|3156.9490| 48.05917276858756|          75|
|     460058|   RIVERTON HOSPITAL|           RIVERTON|   UT|53.35704615|3468.2080| 48.04398200765331|          51|
|     180128|THREE RIVERS MEDI...|             LOUISA|   KY|46.99053846|3054.3850|  48.0222142356501|          65|
|     260214|BELTON REGIONAL M...|             BELTON|   MO|50.04878462|3253.1710| 47.99979829204168|          37|
|     240018|MAYO CLINIC HEALT...|           RED WING|   MN|51.61150769|3354.7480| 47.98708146289857|          60|
|     050070|KAISER FOUNDATION...|SOUTH SAN FRANCISCO|   CA|59.93908475|3536.4060| 47.97765357948238|          37|
|     220088|NEW ENGLAND BAPTI...|             BOSTON|   MA|48.50060000|3152.5390|47.975806476822655|          73|
+-----------+--------------------+-------------------+-----+-----------+---------+------------------+------------+
only showing top 20 rows

In [30]:
df.stat.corr('std_dev', 'survey_score')

0.3040984320540629


## SQL Exploration

In [48]:
# ignore the values with times
sql = """
select provider_id, avg(new_score) as agg_score from my_care 
where measure_id != 'ED_1b' AND measure_id != 'ED_2b' AND measure_id != 'OP_1'
AND measure_id != 'OP_18b' AND measure_id != 'OP_20' AND measure_id != 'OP_21' 
AND measure_id != 'OP_3b' AND measure_id != 'OP_5'
group by provider_id order by agg_score DESC
"""
sqlContext.sql(sql).show()

+-----------+------------+
|provider_id|   agg_score|
+-----------+------------+
|     511321|100.00000000|
|     281324|100.00000000|
|     111319|100.00000000|
|     461302|100.00000000|
|     141332|100.00000000|
|     210058|100.00000000|
|     490144|100.00000000|
|     141329|100.00000000|
|     531302|100.00000000|
|     261333|100.00000000|
|     201304|100.00000000|
|     351315|100.00000000|
|     141326|100.00000000|
|     06007F|100.00000000|
|     261329|100.00000000|
|     201306|100.00000000|
|     141328|100.00000000|
|     201307|100.00000000|
|     231313|100.00000000|
|     491303|100.00000000|
+-----------+------------+
only showing top 20 rows

In [53]:
sql = """
select * from effective_care 
where measure_id != 'ED_1b' AND measure_id != 'ED_2b' AND measure_id != 'OP_1'
AND measure_id != 'OP_18b' AND measure_id != 'OP_20' AND measure_id != 'OP_21' 
AND measure_id != 'OP_3b' AND measure_id != 'OP_5'
AND provider_id = '281324'
"""
sqlContext.sql(sql).show()

+-----------+--------------------+-------------+------+-----+--------+-----------+------------+--------------------+-----------+--------------------+-------------+-------------+--------------------+------------------+----------------+
|provider_id|       hospital_name|      address|  city|state|zip_code|county_name|phone_number|           condition| measure_id|        measure_name|        score|       sample|            footnote|measure_start_date|measure_end_date|
+-----------+--------------------+-------------+------+-----+--------+-----------+------------+--------------------+-----------+--------------------+-------------+-------------+--------------------+------------------+----------------+
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|Heart Attack or C...|     AMI_10| Statin at Discharge|Not Available|Not Available|5 - Results are n...|        10/01/2013|      09/30/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|Heart Attack or C...|      AMI_2|Aspirin prescribe...|Not Available|Not Available|5 - Results are n...|        10/01/2013|      09/30/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|Heart Attack or C...|     AMI_7a|Fibrinolytic Ther...|Not Available|Not Available|5 - Results are n...|        10/01/2013|      09/30/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|Heart Attack or C...|     AMI_8a|Primary PCI Recei...|Not Available|Not Available|5 - Results are n...|        10/01/2013|      09/30/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|Emergency Department|        EDV|Emergency departm...|Not Available|             |5 - Results are n...|        01/01/2013|      12/31/2013|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|       Heart Failure|       HF_1|Discharge instruc...|Not Available|Not Available|1 - The number of...|        10/01/2013|      09/30/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|       Heart Failure|       HF_2|Evaluation of LVS...|Not Available|Not Available|1 - The number of...|        10/01/2013|      09/30/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|       Heart Failure|       HF_3|ACEI or ARB for LVSD|Not Available|Not Available|3 - Results are b...|        10/01/2013|      09/30/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|     Preventive Care|      IMM_2|Immunization for ...|Not Available|Not Available|5 - Results are n...|        10/01/2013|      03/31/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|Heart Attack or C...|       OP_2|Fibrinolytic Ther...|Not Available|Not Available|1 - The number of...|        10/01/2013|      09/30/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|Emergency Department|      OP_22|Left before being...|Not Available|Not Available|5 - Results are n...|        01/01/2013|      12/31/2013|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|Emergency Department|      OP_23|     Head CT results|Not Available|Not Available|5 - Results are n...|        10/01/2013|      09/30/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|Heart Attack or C...|       OP_4|  Aspirin at Arrival|          100|           15|                    |        10/01/2013|      09/30/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|Surgical Care Imp...|       OP_6|Prophylactic Anti...|Not Available|Not Available|5 - Results are n...|        10/01/2013|      09/30/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|Surgical Care Imp...|       OP_7|Prophylactic Anti...|Not Available|Not Available|5 - Results are n...|        10/01/2013|      09/30/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|Pregnancy and Del...|      PC_01|Percent of newbor...|Not Available|Not Available|5 - Results are n...|        10/01/2013|      09/30/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|           Pneumonia|       PN_6|Initial antibioti...|Not Available|Not Available|1 - The number of...|        10/01/2013|      09/30/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|Surgical Care Imp...|SCIP_CARD_2|Surgery Patients ...|Not Available|Not Available|5 - Results are n...|        10/01/2013|      09/30/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|Surgical Care Imp...| SCIP_INF_1|Prophylactic anti...|Not Available|Not Available|5 - Results are n...|        10/01/2013|      09/30/2014|
|     281324|NEMAHA COUNTY HOS...|2022  13TH ST|AUBURN|   NE|   68305|     NEMAHA|  4022744366|Surgical Care Imp...|SCIP_INF_10|Surgery Patients ...|Not Available|Not Available|5 - Results are n...|        10/01/2013|      09/30/2014|
+-----------+--------------------+-------------+------+-----+--------+-----------+------------+--------------------+-----------+--------------------+-------------+-------------+--------------------+------------------+----------------+
only showing top 20 rows

In [52]:
sqlContext.sql("select * from my_hospitals where provider_id = '281324'").show()

+-----------+--------------------+------+-----+--------+--------------------+------------------+
|provider_id|                name|  city|state|zip_code|                type|         ownership|
+-----------+--------------------+------+-----+--------+--------------------+------------------+
|     281324|NEMAHA COUNTY HOS...|AUBURN|   NE|   68305|Critical Access H...|Government - Local|
+-----------+--------------------+------+-----+--------+--------------------+------------------+